.article
  display: block
  float: left
  margin-bottom: 20px
  overflow: hidden

.article__img
  position: relative
  margin-bottom: 10px

.article__img img
  width: 100%

.article__img__footnote
  text-transform: uppercase
  position: absolute
  left: 0
  bottom: 4px
  padding: 8px
  font-size: 0.6rem
  background: $yellow
  color: $black
  font-weight: bold

.article__body
  background: $white

.article__title
  color: $black
  font-weight: bold
  margin: 15px 0

.article__desc
  margin: 0 0 15px 0
  color: #7e7e7e

.article--portrait .article__img, .article--portrait .article__body
  float: none
  width: 100%

.article--landscape .article__img, .article--landscape .article__body
  float: left

.article--landscape .article__img
  width: 48%
  margin-right: 2%

.article--landscape .article__body
  width: 50%

.article--landscape .article__title
  margin-top: 0

.article--s, .article--m, .article--l
  margin-right: 2%

.article--s
  width: 32.33332%

.article--m
  width: 48%

.article--l
  width: 65.66665%

.article--xl
  width: 100%

.article:last-child
  margin-right: 0

.article--m:last-child
  margin-left: 2%

.heading--fix
  margin-top: 34.8%

.article--fan .article__img
  margin-bottom: -5px

.article--fan
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.3)


@media only screen and (max-width: $break-desk)

  .article__desc
    display: none


@media only screen and (min-width: $break-mob) and (max-width: $break-tab)

  .article--fan .article__img, .article--fan .article__body
    float: none

  .article--fan .article__body
    width: 80%
    padding: 20px 10%

  .article--fan .article__img
    width: 100%

  .fanDeVu__container .article:nth-child(2n+0)
    margin-right: 0
    margin-left: 2%


@media only screen and (min-width: $break-tab)

  .article--fan .article__img, .article--fan .article__body
    float: left

  .article--fan .article__body
    width: 17.33332%
    padding: 10px 8% 20em 8%
    margin-bottom: -20em

  .article--fan .article__img
    width: 66.66665%

  .fanDeVu .article--m
    width: 23%
    float: right
    margin-left: 2%
    margin-right: 0


@media only screen and (min-width: $break-desk)

  .article--fan .article__body
    padding: 40px 8% 20em 8%
