.comm-header
  position: relative

.comm-header__image
  position: relative

.comm-header__image img
  width: 100%
  margin-bottom: -4px

.comm-header__text p
  margin: 0

.comm-header__title
  position: absolute

.page__title
  margin-top: 10px

.comm-header__text
  line-height: 1.5rem


@media only screen and (min-width: $break-mob) and (max-width: $break-tab)

  .comm-header
    margin-bottom: 20px

  .comm-header__image
    width: 100%

  .page__title
    font-size: $fontLarge

  .comm-header__text
    width: calc(100% - 60px)
    padding: 30px
    font-size: 1rem

  .comm-header__title
    top: 35%
    left: 17%


@media only screen and (min-width: $break-tab) and (max-width: $break-desk)

  .comm-header
    margin-bottom: 8vw

  .comm-header__image
    width: 90%

  .page__title
    font-size: $fontBig

  .comm-header__text
    width: 30%
    padding: 40px
    position: absolute
    top: 15%
    right: 0
    line-height: 1.2rem

  .comm-header__title
    top: 40%
    left: 12%


@media only screen and (min-width: $break-desk)

  .comm-header
    margin-bottom: 8vw

  .comm-header__image
    width: 80%

  .page__title
    font-size: 3rem

  .comm-header__text
    width: 22%
    padding: 70px
    position: absolute
    top: 25%
    right: 0
    line-height: 1.3rem
    height: 27vw

  .comm-header__title
    top: 40%
    left: 15%
