section, article, aside, figure, figcaption, header, footer, nav {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body, figure {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  background: $white;
}

a img {
  border: none;
  outline: none;
}

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.page {
  width: 100%;
  margin-top: 62px;
  position: relative;
  left: 0;
  transition: all 0.2s linear;
}

.section__title {
  font-size: 1.3rem;
}

.heading--col {
  position: absolute;
  left: 0;
  color: $black;
}

.background--lightGray {
  background: $lightGray;
}

.background--yellow {
  background: $yellow;
}

.section__title.heading--row {
  text-align: left;
  width: 100%;
  margin: 20px 0;
}

.slider__navigation {
  z-index: 30;
  font-weight: 700;
}

.slider__navigation i {
  cursor: pointer;
  padding: 10px;
}

.slider .slick-list {
  overflow: visible;
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {

  html {
    font-size: 4.2vw;
  }

  .page__inner {
    width: 100%;
    padding: 40px 0;
  }

  .heading--col {
    margin-top: 10px;
    width: 70px;
  }

  .slider__navigation {
    float: right;
  }

}

@media only screen and (min-width: $break-tab) and (max-width: $break-desk) {

  html {
    font-size: 1.8vw;
  }

  .heading--col {
    margin-top: -20px;
    width: 120px;
  }

  .page__inner {
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
  }

  .slider__navigation {
    float: right;
  }

}

@media only screen and (min-width: $break-desk) {

  html {
    font-size: 1.2vw;
  }

  .page__inner {
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
  }

  .col--half {
    width: 46%;
    padding: 10px 2%;
  }

  .top__article {
    width: 48%;
    margin-right: 2%;
    font-size: 0.8rem;
    text-align: left;
    float: left;
  }

  .top__article:last-child {
    margin-right: 0;
  }

  .top__article img {
    float: left;
    width: 28%;
    margin-right: 2%;
  }

  .top__article p {
    margin: 0;
    float: left;
    width: 70%;
  }

  .heading--col {
    margin-top: 0;
    width: 120px;
  }

  .slider__navigation {
    position: absolute;
    top: 7vw;
    right: 0;
  }

}

@media only screen and (min-width: $break-desk-large) {

  html {
    font-size: 1vw;
  }

  .section__title.heading--col {
    width: 150px;
  }

}
