.row--full
  width: 100%
  margin-bottom: 20px

.news1
  margin-bottom: 40px

.fanDeVu, .news1, .astuces, .cote__business
  width: 100%
  margin: 50px 0

.fanDeVu__container
  width: 90%
  margin: 0 auto
  position: relative

.container--full
  width: 100%
  position: relative

.container--padded
  padding: 40px 0

.container--raised
  margin-top: -3.5%

.faq__slider
  margin-bottom: 150px

.faq__slider .slider__container
  position: relative

.container, .row--mob
  position: relative


@media only screen and (min-width: $break-mob) and (max-width: $break-tab)

  .container
    width: 90%
    margin: 0 auto

  .row--mob
    width: 100%

  .faq__slider .slider__container
    width: 90%
    margin: 0 auto
    top: -100px

  .faq__slider .container--full
    height: 18.5rem
    top: 100px


@media only screen and (min-width: $break-tab) and (max-width: $break-desk)

  .faq__slider .container--full
    height: 14rem

  .row--raised
    margin-top: -10vw



@media only screen and (min-width: $break-tab)

  .container
    width: 100%

  .row--mob
    float: left
    width: 49.5%
    margin-right: 0.5%

  .row--mob:nth-child(2n+0)
    margin-right: 0
    margin-left: 0.5%

  .row--mob:last-child
    width: 49%
    margin-right: 0
    margin-left: 0.5%

  .editors-picks .section__title.heading--row
    width: 50%
    margin-left: 50.5%

  .row--padded--top
    padding-top: 13%

  .row--mob.row--clipped--right, .row--mob.row--clipped--left
    width: 45%

  .row--clipped--left
    margin-left: 4.5%

  .row--mob.row--centered
    margin: 0 auto
    float: none

  .astuces, .faq__slider, .cote__business, .latest-news
    border-top: 2px solid $lightGray

  .astuces
    margin: 80px 0 50px 0

  .faq__slider .slider__container
    top: -50px

  .faq__slider .slider__container
    width: 75%
    float: right
    margin-right: 2%

  .faq__slider .container--full
    top: 0

  .faq__slider .section__title.heading--row
    margin-bottom: 10px

  .container--raised--tab
    margin-top: -5%
    margin-bottom: 5%

  .latest-news
    margin-top: 80px

  .latest-news .row--raised
    margin-top: -17%
    margin-bottom: 2.3vw


@media only screen and (min-width: $break-desk)

  .faq__slider .container--full
    height: 20rem

  .faq__slider .slider__container
    width: 80%

  .slider__container .slider
    width: 90%

  .container--padded
    padding: 60px 0

  .row--raised
    margin-top: -8vw

  .latest-news
    margin-top: 16vw
