@media only screen and (min-width: $break-mob) and (max-width: $break-tab)

  .row--mob
    width: 100%
    position: relative


@media only screen and (min-width: $break-tab)

  .row--mob
    position: relative
    float: left
    width: 49.5%
    margin-right: 0.5%

  .row--mob:last-child
    width: 49%
    margin-right: 0
    margin-left: 0.5%

  .row--padded
    padding-top: 13%
