header
  +container(92%, 0, 15px 4%)
  background: $black
  position: fixed
  top: 0

header i
  cursor: pointer

.menu__trigger
  float: left

.header__search
  float: right

.header__logo
  width: 170px
  position: absolute
  top: 15px
  left: 50%
  margin-left: -85px

.header__logo img
  width: 100%
