header
  +container(92%, 0, 15px 4%)
  height: 32px
  background: $black
  position: fixed
  top: 0
  z-index: 100

header i
  cursor: pointer

.header__search
  float: right

.header__logo
  width: 170px
  position: absolute
  top: 15px
  left: 50%
  margin-left: -85px
  z-index: 120

.header__logo img
  width: 100%

.menu__opened__overlay, .search__overlay
  display: none
  top: 0
  right: 0
  bottom: 0
  left: 0

.menu__opened__overlay
  position: absolute
  background: rgba(0, 0, 0, 0.6)

.search__overlay
  position: fixed
  z-index: 110
  background: rgba(0, 0, 0, 0.8)

.search__close
  position: absolute
  top: 15px
  right: 15px
  font-size: 1.8em
  cursor: pointer

.search__field
  position: absolute
  top: 45%
  left: 50%
  width: 80%
  margin-left: -40%
  text-align: center

.search__field input
  width: 85%
  background: transparent
  border: 0
  color: $white
  border-bottom: 1px solid $white

.search__field input:focus
  outline: none
  border-bottom: 1px solid $white

.search__field i
  font-size: 1.8em

.header__social
  text-align: center

.header__social i
  margin-right: 20px

.header__social i:last-child
  margin-right: 0


@media only screen and (min-width: $break-mob) and (max-width: $break-desk)

  .menu__trigger
    float: left

  .header__social
    float: none
    position: relative
    margin: 100px auto 20px auto
    font-size: 1.8em
    color: $black

@media only screen and (min-width: $break-desk)

  header
    width: 96%
    padding: 15px 2%

  .menu__trigger
    display: none

  .header__social
    color: $white
    float: left
    font-size: 1.8em

  .search__close
    top: 25px
    right: 25px
