.articlePage {
  width: 100%;
}

.articlePage__header {
  width: 100%;
  position: relative;
  height: 48vw;
  overflow: hidden;
}

.articlePage__header img {
  width: 100%;
}

.header__footnote {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: $white;
  font-size: $fontNormal;
}

.articlePage__category {
  display: inline-block;
  padding: 10px 15px;
  font-size: $fontSmall;
  font-weight: bold;
  text-transform: uppercase;
  background: $yellow;
}

.articlePage__main-title {
  text-transform: uppercase;
  font-size: $fontBig;
  margin-top: 20px;
}

.articlePage__social-share {
  display: inline-block;
  background: $lightGray;
  padding: 0 15px;
  margin: 10px 0 30px 0;
}

.share__icon {
  display: inline-block;
  margin-right: 3vw;
  position: relative;
  top: -6vw;
  width: 18vw;
  height: 18vw;
  line-height: 18vw;
  text-align: center;
  background: $white;
  color: $yellow;
  border: 1px solid $yellow;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.share__icon:last-child {
  margin-right: 0;
}

.share__icon i {
  font-size: $fontLarge;
  margin-top: 10px;
}

.articlePage__date {
  color: $darkGray;
}

.articlePage__text-intro {
  font-weight: bold;
}

.articlePage__article-text p {
  font-size: $fontNormal;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

.articlePage__article-text a {
  color: $yellow;
}

.articlePage__tags {
  color: $yellow;
  margin: 20px 0;
}

.articles__list .heading--fix {
  margin-top: 59.9%;
}

.articles__list .heading--col {
  margin-top: 25%;
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {
  .articlePage .test-start .container--full {
    width: 112%;
    left: -6%;
  }
}

@media only screen and (min-width: $break-tab) {
  .header__footnote {
    padding: 10px;
  }

  .articles__list .teaser--s, .articles__list .teaser--l {
    width: 49%;
    margin-bottom: 10px;
  }

  .articles__list .heading--fix {
    margin-top: 24.5%;
  }

  .articles__list .heading--col {
    margin-top: 5%;
  }

  .articlePage__main-title {
    font-size: 2.3rem;
  }

  .articlePage__social-share {
    padding: 0 25px;
  }

  .share__icon {
    top: -3vw;
    width: 9vw;
    height: 9vw;
    line-height: 9vw;
  }

  .share__icon i {
    font-size: $fontBig;
  }
}

@media only screen and (min-width: $break-desk) {
  .articlePage {
    margin-bottom: 10vw;
  }

  .articlePage__main-title {
    font-size: 3rem;
    width: 85%;
  }

  .articlePage__social-share, .articlePage__main-content, .articlePage__body .test-start {
    float: left;
  }

  .articlePage__social-share {
    width: 6%;
    margin: 0 4% 0 0;
    padding: 20px 0;
  }

  .share__icon {
    top: 0;
    left: -2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: $fontLarge;
  }

  .share__icon:last-child {
    margin-bottom: 0;
  }

  .articlePage__main-content {
    width: 56%;
    margin-right: 4%;
  }

  .articlePage__body .test-start {
    width: 30%;
  }

  .articlePage .test-start .container--full {
    background-size: auto 100%;
    background-position: 20% 0%;
  }

  .articlePage .test-start {
    margin-top: 3vw;
  }

  .articlePage .test-start__body {
    width: 70%;
    padding: 80px 0;
  }

  .articlePage .test-start__item img {
    width: 100%;
  }

  .articlePage .test-start__images {
    width: 100%;
    top: -1.8vw;
  }

  .articlePage .test-start__images .test-start__item {
    width: 32.2%;
  }

  .articlePage .test-start__images .test-start__item p {
    font-size: $fontVerySmall;
  }
}
