.header__nav
  +ulClean

@media only screen and (min-width: $break-mob) and (max-width: $break-desk)

  .main__content.menuOpened
    left: 280px

  .header__nav--wrap
    +container(260px, 0, 0 10px)
    background: $white
    position: fixed
    top: 62px
    bottom: 0
    left: -280px
    z-index: 50
    overflow: hidden
    transition: all .2s linear

  .header__nav
    margin-bottom: 40px
    position: relative
    top: 40px

  .header__nav a
    text-decoration: none
    color: $black

  .header__nav > li
    margin-bottom: 20px
    position: relative

  .header__nav > li > i
    color: $yellow
    margin-right: 15px
    position: relative
    top: -2px

  .header__nav > li > a
    text-transform: uppercase

  .sub__menu
    display: none
    list-style: none

  .sub__menu > li
    margin-top: 15px

  .inView
    left: 0

@media only screen and (min-width: $break-desk)

  .header__nav--wrap
    height: 62px
    position: absolute
    width: 90%

  .header__nav
    width: 80%
    text-align: center
    position: fixed
    top: 20px
    left: 50%
    margin-left: -40%
    text-transform: uppercase

  .header__nav > li
    display: inline-block
    margin-right: 40px

  .header__nav > li:first-child
    margin-left: 120px

  .header__nav > li:nth-child(3)
    margin-right: 200px

  .header__nav > li:last-child
    margin-right: 0

  .header__nav > li > i
    display: none

  .header__nav > li > a
    color: $yellow
    text-decoration: none
    font-size: 1em
    transition: color .15s linear

  .header__nav > li > a:hover
    color: $white
    border-bottom: 2px solid $white

  .sub__menu
    +ulClean
    display: none
