.master-footer {
  @include container(92%, 40px 0 0, 20px 4%);

  text-align: center;
}

.master-footer__logo {
  margin-bottom: 40px;
}

.master-footer__nav {
  @include ulClean;

  margin-bottom: 60px;
}

.master-footer__nav li {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media only screen and (min-width: $break-tab) {
  .master-footer__nav li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .master-footer__nav li:last-child {
    margin-right: 0;
  }
}
