.teaser {
  display: block;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
}

.teaser__img {
  position: relative;
  margin-bottom: 10px;
}

.teaser__img img {
  width: 100%;
}

.teaser__img__footnote {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 8px;
  font-size: 0.6rem;
  background: $yellow;
  color: $black;
  font-weight: bold;
}

.teaser__body {
  background: transparent;
}

.teaser__title {
  color: $black;
  font-weight: bold;
  margin: 15px 0;
}

.teaser__desc {
  margin: 0 0 15px 0;
  color: #7e7e7e;
}

.teaser--portrait .teaser__img, .teaser--portrait .teaser__body {
  float: none;
  width: 100%;
}

.teaser--landscape .teaser__img, .teaser--landscape .teaser__body {
  float: left;
}

.teaser--landscape .teaser__img {
  width: 48%;
  margin-right: 2%;
}

.teaser--landscape .teaser__body {
  width: 50%;
}

.teaser--landscape .teaser__title {
  margin-top: 0;
}

.teaser--s, .teaser--m, .teaser--l {
  margin-right: 1%;
}

.teaser--s {
  width: 32.33332%;
}

.teaser--m {
  width: 49%;
}

.teaser--l {
  width: 65.66665%;
}

.teaser--xl:last-child {
  width: 100%;
}

.teaser.teaser--xl:last-child {
  margin-left: 0;
}

.teaser:last-child {
  margin-right: 0;
}

.teaser:last-child {
  margin-left: 1%;
}

.heading--fix {
  margin-top: 34.8%;
}

.teaser--fan .teaser__img {
  margin-bottom: -5px;
}

.teaser--fan {
  box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.3);
}

.teaser__img--right .teaser__img {
  margin-right: 0;
  margin-left: 1%;
}

.teaser__img--right .teaser__body {
  margin-right: 1%;
}

@media only screen and (max-width: $break-desk) {
  .teaser__desc {
    display: none;
  }
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {
  .teaser--fan .teaser__img, .teaser--fan .teaser__body {
    float: none;
  }

  .teaser--fan .teaser__body {
    width: 80%;
    padding: 20px 10%;
  }

  .teaser--fan .teaser__img {
    width: 100%;
  }

  .fanDeVu__container .teaser:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 1%;
  }

  .teaser--raised--mob {
    margin-top: -24.5%;
  }
}

@media only screen and (min-width: $break-tab) {
  .teaser--fan .teaser__img, .teaser--fan .teaser__body {
    float: left;
  }

  .teaser--fan .teaser__body {
    width: 17.33332%;
    padding: 10px 8% 20em 8%;
    margin-bottom: -20em;
  }

  .teaser--fan .teaser__img {
    width: 66.66665%;
  }

  .fanDeVu .teaser--m {
    width: 23%;
    float: right;
    margin-left: 2%;
    margin-right: 0;
  }

  .teaser--raised--tab {
    margin-top: -8vw;
  }
}

@media only screen and (min-width: $break-desk) {
  .teaser--fan .teaser__body {
    padding: 40px 8% 20em 8%;
  }
}
