.more-read {
  width: 100%;
  padding-top: 20px;
}

.more-read .teaser__body {
  background: transparent;
}

.more-read .teaser__title {
  font-weight: 700;
}

.more-read .teaser__img img {
  filter: grayscale(100%);
}

.more-read .teaser__img:hover img {
  filter: grayscale(0);
}

.more-read__wrap {
  width: 80%;
  margin: 0 auto;
}

.more-read .slider__wrap {
  position: relative;
}

.more-read .slider {
  overflow: hidden;
}

.more-read .slider__wrap i {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  color: $darkGray;
}

.more-read .slider__wrap i.fa-arrow-circle-o-left {
  left: -5vw;
}

.more-read .slider__wrap i.fa-arrow-circle-o-right {
  right: -3vw;
}

.more-read .teaser .teaser__body {
  font-size: 0.8rem;
}

.more-read .slider .teaser--m:last-child {
  margin-left: 0;
}

.more-read i {
  cursor: pointer;
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {
  .more-read__wrap {
    width: 90%;
  }

  .more-read .slider__wrap {
    width: 100%;
  }

  .more-read .teaser {
    height: 67vw;
  }

  .more-read i {
    display: none;
  }

  .more-read .slider .teaser:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 1%;
  }
}

@media only screen and (min-width: $break-tab) and (max-width: $break-desk) {
  .more-read__wrap {
    height: 17vw;
  }

  .more-read .slider__wrap {
    margin-left: 20vw;
  }

  .more-read .slider__wrap {
    top: -15vw;
  }

  .more-read .slider .teaser--m {
    width: 24%;
  }

  .more-read .section__title.heading--row {
    width: 8vw;
  }
}

@media only screen and (min-width: $break-desk) {
  .more-read__wrap {
    height: 12vw;
  }

  .more-read .slider__wrap {
    margin-left: 20vw;
  }

  .more-read .slider__wrap {
    top: -11vw;
  }

  .more-read .slider .teaser--m {
    width: 24%;
  }

  .more-read .section__title.heading--row {
    width: 6vw;
  }
}

@media only screen and (min-width: $break-desk-large) {
  .more-read .slider__wrap {
    top: -8vw;
  }

  .more-read .teaser--m {
    margin-right: 1.1%;
  }
}
