@media only screen and (min-width: $break-tab) and (max-width: $break-desk)

  .more-topics
    width: 30%
    float: left

  .more-topics .btn
    padding: 10px 20px
    font-size: $fontVerySmall
    font-weight: bold
