// text modifiers \\

.text--bold
  font-weight: bold

.text--italic
  font-style: italic

.text--thin
  font-weight: normal

.text--clear
  text-decoration: none

.text--underline
  text-decoration: underline

.text--white
  color: $white

.text--gray
  color: $gray

.text--yellow
  color: $yellow

.text--black
  color: $black

.text--big
  font-size: 1.8rem

.text--medium
  font-size: 1.2rem

.text--normal
  font-size: 1rem

.text--small
  font-size: 0.8rem

.text--verySmall
  font-size: 0.6rem

.text--center
  text-align: center

.text--left
  text-align: left

.text--right
  text-align: right
