// colors \\

$black: #000000
$white: #ffffff
$gray: #8b8b8b
$darkGray: #5a5a5a
$yellow: #ffcc33
$lightGray: #f6f6f6

// breakpoints \\

$break-mob: 319px
$break-tab: 767px
$break-desk: 1025px
$break-desk-large: 1900px

// font size \\

$fontVerySmall: 0.6rem
$fontSmall: 0.8rem
$fontNormal: 1rem
$fontMedium: 1.2rem
$fontLarge: 1.4rem
$fontBig: 1.6rem
$fontVeryBig: 2rem
