// import general variables and mixins \\

@import variables
@import mixins

// import module files \\

@import grid
@import typography
@import footer
@import header
@import mainNavigation
@import article-media

// general classes \\

section, article, aside, figure, figcaption, header, footer, nav
  display: block

html, body
  overflow-x: hidden
  font-size: 1rem

body, figure
  margin: 0
  padding: 0

body
  position: relative
  max-width: 100%
  background: $white

body
  font-size: 1rem

.clearfix::before, .clearfix::after
  display: table
  content: ""
  clear: both

.page
  width: 100%
  margin-top: 62px
  position: relative
  left: 0
  transition: all .2s linear

.section__title
  font-size: 1.3rem

.heading--col
  position: absolute
  left: 0
  color: $black

.btn
  padding: 15px 25px
  text-transform: uppercase
  background: $white
  border: 0
  cursor: pointer

.btn--shadowed
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2)

.background--lightGray
  background: $lightGray

.section__title.heading--row
  text-align: left
  width: 100%
  margin: 20px 0

.slider__navigation i:first-child
  margin-right: 10px

.slider__navigation i:last-child
  margin-left: 10px


@media only screen and (min-width: $break-mob) and (max-width: $break-desk)

  .page__inner
    width: 100%
    padding: 40px 0

  .heading--col
    margin-top: 10px
    width: 80px

  .faq__slider .article
    margin-bottom: 0

  .slider__navigation
    float: right


@media only screen and (min-width: $break-tab) and (max-width: $break-desk)

  .heading--col
    margin-top: -20px
    width: 120px

  .page__inner
    width: 80%
    padding: 40px 0
    margin: 0 auto


@media only screen and (min-width: $break-desk)

  .page__inner
    width: 80%
    padding: 40px 0
    margin: 0 auto

  .col--half
    width: 46%
    padding: 10px 2%

  .top__article
    width: 48%
    margin-right: 2%
    font-size: 0.8rem
    text-align: left
    float: left

  .top__article:last-child
    margin-right: 0

  .top__article img
    float: left
    width: 28%
    margin-right: 2%

  .top__article p
    margin: 0
    float: left
    width: 70%

  .heading--col
    margin-top: 0
    width: 120px
