// import general variables and mixins \\

@import variables
@import mixins

// import module files \\

@import footer
@import header
@import mainNavigation

// general classes \\

section, article, aside, figure, figcaption, header, footer, nav
  display: block

html, body
  overflow-x: hidden

body, figure
  margin: 0
  padding: 0

body
  position: relative
  max-width: 100%

body, .text--normal
  font-size: 1em

.clearfix::before, .clearfix::after
  display: table
  content: ""
  clear: both

.main__content
  +container(100%, 0, 0)
  height: 800px
  margin-top: 62px
  position: relative
  left: 0
  transition: all .2s linear

// text modifiers \\

.text--clear
  text-decoration: none

.text--underline
  text-decoration: underline

.text--white
  color: $white

.text--gray
  color: $gray

.text--yellow
  color: $yellow

.text--black
  color: $black

.text--big
  font-size: 1.8em

.text--medium
  font-size: 1.2em

.text--small
  font-size: 0.8em

.text--verySmall
  font-size: 0.6em
