footer {
  width: 92%;
  margin: 100px 0 0;
  padding: 20px 4%;
  text-align: center; }

.footer__logo {
  margin-bottom: 40px; }

.footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px; }

.footer__nav li {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px; }

@media only screen and (min-width: 768px) {
  .footer__nav li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0; }
  .footer__nav li:last-child {
    margin-right: 0; } }

header {
  width: 92%;
  margin: 0;
  padding: 15px 4%;
  background: #000000;
  position: fixed;
  top: 0; }

header i {
  cursor: pointer; }

.menu__trigger {
  float: left; }

.header__search {
  float: right; }

.header__logo {
  width: 170px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -85px; }

.header__logo img {
  width: 100%; }

section, article, aside, figure, figcaption, header, footer, nav {
  display: block; }

body, figure {
  margin: 0;
  padding: 0; }

body, .text--normal {
  font-size: 1em; }

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both; }

.text--clear {
  text-decoration: none; }

.text--underline {
  text-decoration: underline; }

.text--white {
  color: #ffffff; }

.text--gray {
  color: #8b8b8b; }

.text--yellow {
  color: #ffcc33; }

.text--black {
  color: #000000; }

.text--big {
  font-size: 1.8em; }

.text--small {
  font-size: 0.8em; }
