section, article, aside, figure, figcaption, header, footer, nav {
  display: block; }

html, body {
  overflow-x: hidden; }

body, figure {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  position: relative;
  max-width: 100%;
  background: #ffffff; }

a img {
  border: none;
  outline: none; }

.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both; }

.page {
  width: 100%;
  margin-top: 62px;
  position: relative;
  left: 0;
  transition: all 0.2s linear; }

.section__title {
  font-size: 1.3rem; }

.heading--col {
  position: absolute;
  left: 0;
  color: #000000; }

.background--lightGray {
  background: #f6f6f6; }

.background--yellow {
  background: #ffcc33; }

.section__title.heading--row {
  text-align: left;
  width: 100%;
  margin: 20px 0; }

.slider__navigation {
  z-index: 30;
  font-weight: 700; }

.slider__navigation i {
  cursor: pointer;
  padding: 10px; }

.slider .slick-list {
  overflow: visible; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  html {
    font-size: 4.2vw; }
  .page__inner {
    width: 100%;
    padding: 40px 0; }
  .heading--col {
    margin-top: 10px;
    width: 70px; }
  .slider__navigation {
    float: right; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  html {
    font-size: 1.8vw; }
  .heading--col {
    margin-top: -20px;
    width: 120px; }
  .page__inner {
    width: 80%;
    padding: 40px 0;
    margin: 0 auto; }
  .slider__navigation {
    float: right; } }

@media only screen and (min-width: 1025px) {
  html {
    font-size: 1.2vw; }
  .page__inner {
    width: 80%;
    padding: 40px 0;
    margin: 0 auto; }
  .col--half {
    width: 46%;
    padding: 10px 2%; }
  .top__article {
    width: 48%;
    margin-right: 2%;
    font-size: 0.8rem;
    text-align: left;
    float: left; }
  .top__article:last-child {
    margin-right: 0; }
  .top__article img {
    float: left;
    width: 28%;
    margin-right: 2%; }
  .top__article p {
    margin: 0;
    float: left;
    width: 70%; }
  .heading--col {
    margin-top: 0;
    width: 120px; }
  .slider__navigation {
    position: absolute;
    top: 7vw;
    right: 0; } }

@media only screen and (min-width: 1900px) {
  html {
    font-size: 1vw; }
  .section__title.heading--col {
    width: 150px; } }

.teaser {
  display: block;
  float: left;
  margin-bottom: 20px;
  overflow: hidden; }

.teaser__img {
  position: relative;
  margin-bottom: 10px; }

.teaser__img img {
  width: 100%; }

.teaser__img__footnote {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 4px;
  padding: 8px;
  font-size: 0.6rem;
  background: #ffcc33;
  color: #000000;
  font-weight: bold; }

.teaser__body {
  background: transparent; }

.teaser__title {
  font-weight: 900;
  color: #000000;
  margin: 15px 0; }

.teaser__desc {
  font-weight: 400;
  margin: 0 0 15px 0;
  color: #7e7e7e; }

.teaser--portrait .teaser__img, .teaser--portrait .teaser__body {
  float: none;
  width: 100%; }

.teaser--landscape .teaser__img, .teaser--landscape .teaser__body {
  float: left; }

.teaser--landscape .teaser__img {
  width: 48%;
  margin-right: 2%; }

.teaser--landscape .teaser__body {
  width: 50%; }

.teaser--landscape .teaser__title {
  margin-top: 0; }

.teaser--s, .teaser--m, .teaser--l {
  margin-right: 1%; }

.teaser--s {
  width: 32.33332%; }

.teaser--m {
  width: 49%; }

.teaser--l {
  width: 65.66665%; }

.teaser--xl:last-child {
  width: 100%; }

.teaser.teaser--xl:last-child {
  margin-left: 0; }

.teaser:last-child {
  margin-right: 0; }

.teaser:last-child {
  margin-left: 1%; }

.heading--fix {
  margin-top: 34.8%; }

.teaser__img--right .teaser__img {
  margin-right: 0;
  margin-left: 1%; }

.teaser__img--right .teaser__body {
  margin-right: 1%; }

@media only screen and (max-width: 1025px) {
  .teaser__desc {
    display: none; } }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .teaser--raised--mob {
    margin-top: -24.5%; } }

@media only screen and (min-width: 767px) {
  .teaser--raised--tab {
    margin-top: -8vw; } }

.block-hp-news {
  width: 100%;
  margin: 50px 0; }

@media only screen and (min-width: 767px) {
  .row--padded--top {
    padding-top: 13%; } }

.block-hp-fan {
  width: 100%;
  margin: 50px 0; }

.block-hp-fan__container {
  width: 90%;
  margin: 0 auto;
  position: relative; }

.teaser--fan .teaser__img {
  margin-bottom: -5px; }

.teaser--fan {
  box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.3); }

.teaser--fan .teaser__body {
  background: #ffffff; }

.teaser--fan .teaser__img {
  margin-bottom: -5px; }

.teaser--fan {
  box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.3); }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .teaser--fan .teaser__img, .teaser--fan .teaser__body {
    float: none; }
  .teaser--fan .teaser__body {
    width: 80%;
    padding: 20px 10%; }
  .teaser--fan .teaser__img {
    width: 100%; }
  .block-hp-fan__container .teaser:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 1%; } }

@media only screen and (min-width: 767px) {
  .teaser--fan .teaser__img, .teaser--fan .teaser__body {
    float: left; }
  .teaser--fan .teaser__body {
    width: 17.33332%;
    padding: 10px 8% 20em 8%;
    margin-bottom: -20em; }
  .teaser--fan .teaser__img {
    width: 66.66665%; }
  .block-hp-fan .teaser--m {
    width: 23%;
    float: right;
    margin-left: 2%;
    margin-right: 0; } }

@media only screen and (min-width: 1025px) {
  .teaser--fan .teaser__body {
    padding: 40px 8% 20em 8%; } }

.block-hp-astuces {
  width: 100%;
  margin: 50px 0; }

@media only screen and (min-width: 767px) {
  .block-hp-astuces {
    margin: 80px 0 50px 0; }
  .block-hp-astuces {
    border-top: 2px solid #f6f6f6; } }

.block-comm-hero {
  position: relative; }

.block-comm-hero__image {
  position: relative; }

.block-comm-hero__image img {
  width: 100%;
  margin-bottom: -4px; }

.block-comm-hero__text p {
  margin: 0; }

.block-comm-hero__title {
  position: absolute; }

.page__title {
  margin-top: 10px;
  font-weight: 900; }

.block-comm-hero__text {
  line-height: 1.5rem; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .block-comm-hero {
    margin-bottom: 20px; }
  .block-comm-hero__image {
    width: 100%; }
  .page__title {
    font-size: 1.4rem; }
  .block-comm-hero__text {
    width: calc(100% - 60px);
    padding: 30px;
    font-size: 1rem; }
  .block-comm-hero__title {
    top: 35%;
    left: 17%; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .block-comm-hero {
    margin-bottom: 8vw; }
  .block-comm-hero__image {
    width: 90%; }
  .page__title {
    font-size: 1.6rem; }
  .block-comm-hero__text {
    width: 30%;
    padding: 40px;
    position: absolute;
    top: 15%;
    right: 0;
    line-height: 1.2rem; }
  .block-comm-hero__title {
    top: 40%;
    left: 12%; } }

@media only screen and (min-width: 1025px) {
  .block-comm-hero {
    margin-bottom: 2vw; }
  .block-comm-hero__image {
    width: 80%; }
  .page__title {
    font-size: 3rem; }
  .block-comm-hero__text {
    width: 22%;
    padding: 70px;
    position: absolute;
    top: 25%;
    right: 0;
    line-height: 1.3rem;
    height: 27vw; }
  .block-comm-hero__title {
    top: 40%;
    left: 15%; } }

@media only screen and (min-width: 1900px) {
  .block-comm-hero {
    margin-bottom: 3vw; } }

@media only screen and (min-width: 767px) {
  .block-comm-editors-picks .section__title.heading--row {
    width: 50%;
    margin-left: 50.5%; } }

@media only screen and (min-width: 767px) {
  .latest-news {
    border-top: 2px solid #f6f6f6; }
  .latest-news {
    margin-top: 6vw;
    margin-bottom: 100px; }
  .latest-news .row--raised {
    margin-top: -17%;
    margin-bottom: 2.3vw; } }

@media only screen and (min-width: 1025px) {
  .latest-news {
    margin-top: 10vw; } }

.block-QA-list .teaser {
  overflow: visible;
  background: #f6f6f6; }

.block-QA-list .teaser.teaser--xl {
  float: none; }

.block-QA-list .body__wrap {
  position: relative; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .block-QA-list .body__wrap {
    width: 100%;
    top: -5vw; }
  .block-QA-list .teaser {
    margin-bottom: 40px; }
  .QA__first-item {
    width: 90%;
    margin: 0 auto; }
  .block-QA-list .teaser--landscape .teaser__img {
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.6); }
  .block-QA-list .teaser--landscape .teaser__img {
    margin-right: 4%; }
  .block-QA-list .teaser--landscape .teaser__img img {
    margin-bottom: -4px; }
  .block-QA-list .teaser--landscape .teaser__body {
    width: 40%;
    margin-top: 12vw; }
  .block-QA-list .teaser--portrait .teaser__body {
    width: 90%;
    margin: 0 auto; }
  .block-QA-list .teaser--m {
    height: 15rem; }
  .block-QA-list .teaser--m:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 1%; } }

@media only screen and (min-width: 767px) {
  .block-QA-list .section__title.heading--row {
    position: relative;
    top: 15vw;
    left: 3.5vw;
    width: 20vw; }
  .block-QA-list .teaser {
    margin-bottom: 10vw; }
  .QA__first-item {
    width: 60%;
    float: right;
    margin-bottom: 8vw; }
  .block-QA-list .teaser--m {
    width: 30%;
    height: 11rem;
    margin-right: 2%; }
  .block-QA-list .teaser--landscape .body__wrap {
    width: 80%;
    margin: 0 auto;
    top: -2vw; }
  .block-QA-list .teaser--landscape .teaser__body {
    margin-top: 12%;
    width: 40%; }
  .block-QA-list .teaser--landscape .teaser__img {
    margin-right: 6%; }
  .block-QA-list .teaser--portrait .body__wrap {
    width: 70%;
    margin: 0 auto;
    top: -7vw; }
  .block-QA-list .teaser--l {
    width: 67%;
    margin-top: -5vw;
    margin-left: 3.4vw;
    margin-right: 5%; }
  .block-QA-list .teaser.float--right {
    float: right;
    margin-left: 5%;
    margin-right: 0; }
  .block-QA-list .teaser:last-child {
    margin-bottom: 20px; } }

@media only screen and (min-width: 1025px) {
  .block-QA-list .teaser.teaser--m {
    height: 17rem; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .block-more-topics {
    width: 30%;
    float: left; }
  .block-more-topics .btn {
    padding: 10px 20px;
    font-size: 0.6rem;
    font-weight: bold; } }

@media only screen and (min-width: 1025px) {
  .block-more-topics {
    position: relative;
    top: 4vw;
    width: calc(30% - 82px);
    padding: 40px 40px 5vw 40px;
    float: left;
    border-left: 2px solid #f6f6f6; }
  .block-more-topics::before, .block-more-topics::after {
    content: "";
    position: absolute;
    right: 0;
    width: 79.2vw;
    height: 2px;
    background: #f6f6f6;
    z-index: -1; }
  .block-more-topics::before {
    top: 0; }
  .block-more-topics::after {
    bottom: 0; } }

@media only screen and (min-width: 1900px) {
  .block-more-topics::before, .block-more-topics::after {
    width: 79.4vw; }
  .block-more-topics {
    padding-bottom: 7vw; } }

.block-article-hero {
  width: 100%;
  position: relative;
  height: 48vw;
  overflow: hidden; }

.block-article-hero img {
  width: 100%; }

.article-hero__footnote {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: #ffffff;
  font-size: 1rem; }

@media only screen and (min-width: 767px) {
  .article-hero__footnote {
    padding: 10px; } }

.block-article-body {
  width: 100%; }

.block-article-body__category {
  display: inline-block;
  padding: 10px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffcc33; }

.block-article-body__main-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 20px; }

.block-article-body__social-share {
  display: inline-block;
  background: #f6f6f6;
  padding: 0 15px;
  margin: 10px 0 30px 0; }

.share__icon {
  display: inline-block;
  margin-right: 3vw;
  position: relative;
  top: -6vw;
  width: 18vw;
  height: 18vw;
  line-height: 18vw;
  text-align: center;
  background: #ffffff;
  color: #ffcc33;
  border: 1px solid #ffcc33;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); }

.share__icon:last-child {
  margin-right: 0; }

.share__icon i {
  font-size: 1.4rem;
  margin-top: 10px; }

.block-article-body__date {
  color: #5a5a5a; }

.block-article-body__text-intro {
  font-weight: bold; }

.block-article-body__article-text p {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 1px; }

.block-article-body__article-text a {
  color: #ffcc33; }

.block-article-body__tags {
  color: #ffcc33;
  margin: 20px 0; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .block-article-body .module-test-start .container--full {
    width: 112%;
    left: -6%; } }

@media only screen and (min-width: 767px) {
  .block-article-body__main-title {
    font-size: 2.3rem; }
  .block-article-body__social-share {
    padding: 0 25px; }
  .share__icon {
    top: -3vw;
    width: 9vw;
    height: 9vw;
    line-height: 9vw; }
  .share__icon i {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1025px) {
  .block-article-body {
    margin-bottom: 10vw; }
  .block-article-body__main-title {
    font-size: 3rem;
    width: 85%; }
  .block-article-body__social-share, .block-article-body__main-content, .block-article-body__body .module-test-start {
    float: left; }
  .block-article-body__social-share {
    width: 6%;
    margin: 0 4% 0 0;
    padding: 20px 0; }
  .share__icon {
    top: 0;
    left: -2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 1.4rem; }
  .share__icon:last-child {
    margin-bottom: 0; }
  .block-article-body__main-content {
    width: 56%;
    margin-right: 4%; }
  .block-article-body__body .module-test-start {
    width: 30%; }
  .block-article-body .module-test-start .container--full {
    background-size: auto 100%;
    background-position: 20% 0%; }
  .block-article-body .module-test-start {
    margin-top: 3vw; }
  .block-article-body .module-test-start__body {
    width: 70%;
    padding: 80px 0; }
  .block-article-body .module-test-start__item img {
    width: 100%; }
  .block-article-body .module-test-start__images {
    width: 100%;
    top: -1.8vw; }
  .block-article-body .module-test-start__images .module-test-start__item {
    width: 32.2%; }
  .block-article-body .module-test-start__images .module-test-start__item p {
    font-size: 0.6rem; } }

.block-articles-list {
  margin-bottom: 80px; }

.block-articles-list .heading--fix {
  margin-top: 59.9%; }

.block-articles-list .heading--col {
  margin-top: 25%; }

@media only screen and (min-width: 767px) {
  .block-articles-list .teaser--s, .block-articles-list .teaser--l {
    width: 49%;
    margin-bottom: 10px; }
  .block-articles-list .heading--fix {
    margin-top: 24.5%; }
  .block-articles-list .heading--col {
    margin-top: 5%; }
  .block-articles-list .row--clipped--right {
    margin-bottom: 2vw; } }

.row--full {
  width: 100%;
  margin-bottom: 20px; }

.container--full {
  width: 100%;
  position: relative; }

.container--padded {
  padding: 40px 0; }

.container--raised {
  margin-top: -3.5%; }

.container, .row--mob {
  position: relative; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto; }
  .row--mob {
    width: 100%; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .row--raised {
    margin-top: -10vw; } }

@media only screen and (min-width: 767px) {
  .container {
    width: 100%; }
  .row--mob {
    float: left;
    width: 49.5%;
    margin-right: 0.5%; }
  .row--mob:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 0.5%; }
  .row--mob:last-child {
    width: 49%;
    margin-right: 0;
    margin-left: 0.5%; }
  .row--mob.row--clipped--right, .row--mob.row--clipped--left {
    width: 45%; }
  .row--clipped--left {
    margin-left: 4.5%; }
  .row--mob.row--centered {
    margin: 0 auto;
    float: none; }
  .faq__slider {
    border-top: 2px solid #f6f6f6; }
  .container--raised--tab {
    margin-top: -5%;
    margin-bottom: 5%; } }

@media only screen and (min-width: 1025px) {
  .slider__container .slider {
    width: 90%; }
  .container--padded {
    padding: 60px 0; }
  .row--raised {
    margin-top: -8vw; } }

body {
  font-family: 'Lato', sans-serif; }

@font-face {
  font-family: 'Airways';
  src: url("../dist/fonts/Airways.woff"); }

.text--regular {
  font-weight: 400; }

.text--bold {
  font-weight: 700; }

.text--bolder {
  font-weight: 900; }

.text--italic {
  font-family: 'Airways'; }

.text--clear {
  text-decoration: none; }

.text--underline {
  text-decoration: underline; }

.text--white {
  color: #ffffff; }

.text--gray {
  color: #8b8b8b; }

.text--yellow {
  color: #ffcc33; }

.text--black {
  color: #000000; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.master-footer {
  width: 92%;
  margin: 40px 0 0;
  padding: 20px 4%;
  text-align: center; }

.master-footer__logo {
  margin-bottom: 40px; }

.master-footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px; }

.master-footer__nav li {
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px; }

@media only screen and (min-width: 767px) {
  .master-footer__nav li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0; }
  .master-footer__nav li:last-child {
    margin-right: 0; } }

.master-header {
  width: 92%;
  margin: 0;
  padding: 15px 4%;
  height: 32px;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 99999999; }

.master-header i {
  cursor: pointer; }

.master-header__search {
  float: right; }

.master-header__logo {
  width: 170px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -85px;
  z-index: 120; }

.master-header__logo img {
  width: 100%; }

.menu__opened__overlay, .search__overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.menu__opened__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.search__overlay {
  position: fixed;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.8); }

.search__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  cursor: pointer; }

.search__field {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  text-align: center; }

.search__field input {
  width: 85%;
  background: transparent;
  border: 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff; }

.search__field input:focus {
  outline: none;
  border-bottom: 1px solid #ffffff; }

.search__field i {
  font-size: 1.8rem; }

.master-header__social {
  text-align: center; }

.master-header__social i {
  margin-right: 20px; }

.master-header__social i:last-child {
  margin-right: 0; }

@media only screen and (min-width: 319px) and (max-width: 1025px) {
  .master-header__menu-trigger {
    float: left; }
  .master-header__social {
    float: none;
    position: relative;
    margin: 100px auto 20px auto;
    font-size: 1.8rem;
    color: #000000; } }

@media only screen and (min-width: 1025px) {
  .master-header {
    width: 96%;
    padding: 15px 2%; }
  .master-header__menu-trigger {
    display: none; }
  .master-header__social, .master-header__search {
    position: relative;
    font-size: 1.2rem;
    top: 8px; }
  .master-header__social {
    color: #ffffff;
    float: left; }
  .search__close {
    top: 25px;
    right: 25px; } }

.master-header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.master-header__nav > li > a {
  text-transform: uppercase; }

@media only screen and (min-width: 319px) and (max-width: 1025px) {
  .page.menuOpened {
    left: 280px; }
  body.menuOpened, html.menuOpened {
    overflow: hidden; }
  .master-header__nav--wrap {
    width: 260px;
    margin: 0;
    padding: 0 10px;
    background: #ffffff;
    position: fixed;
    top: 62px;
    bottom: 0;
    left: -280px;
    z-index: 50;
    overflow: hidden;
    transition: all 0.2s linear; }
  .master-header__nav {
    margin-bottom: 40px;
    position: relative;
    top: 40px; }
  .master-header__nav a {
    text-decoration: none;
    color: #000000; }
  .master-header__nav > li {
    margin-bottom: 20px;
    position: relative; }
  .master-header__nav > li > i {
    color: #ffcc33;
    margin-right: 15px;
    position: relative;
    top: -2px;
    font-size: 1rem; }
  .sub__menu {
    display: none; }
  .sub__menu > ul {
    list-style: none; }
  .sub__menu > ul > li {
    margin-top: 15px; }
  .inView {
    left: 0; }
  .top__articles {
    display: none; } }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .master-header__nav > li > a {
    font-weight: 700;
    font-size: 1.2rem; }
  .sub__menu > ul > li > a {
    font-weight: 400; }
  .master-header__menu-trigger, .master-header__search {
    font-size: 1.6rem; } }

@media only screen and (min-width: 1025px) {
  .master-header__nav--wrap {
    height: 62px;
    position: absolute;
    width: 90%;
    z-index: 110; }
  .master-header__nav {
    width: 80%;
    text-align: center;
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -40%; }
  .master-header__nav > li {
    display: inline-block;
    margin-right: 40px;
    z-index: 110; }
  .master-header__nav > li:first-child {
    margin-left: 110px; }
  .master-header__nav > li:nth-child(3) {
    margin-right: 200px; }
  .master-header__nav > li:last-child {
    margin-right: 0; }
  .master-header__nav > li > i {
    display: none; }
  .master-header__nav > li > a {
    font-weight: 700;
    color: #ffcc33;
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0.15s linear; }
  .master-header__nav > li > a.active, .master-header__nav > li > a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff; }
  .sub__menu {
    display: none;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .sub__menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 20%;
    float: left;
    padding: 60px 0 40px 5%;
    text-transform: uppercase; }
  .sub__menu > ul::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0.1rem;
    height: 20rem;
    background: #ececec; }
  .sub__menu > ul:nth-child(2) {
    padding-bottom: 90px; }
  .sub__menu > ul > li {
    text-align: left;
    margin-bottom: 30px; }
  .sub__menu > ul > li > a {
    text-decoration: none;
    color: #000000; }
  .sub__menu .top__articles {
    float: left;
    width: 30%;
    padding: 40px 10% 0 10%; } }

.module-test-start {
  width: 100%;
  margin: 100px 0; }

.module-test-start .container--full {
  background: url("../dist/image/test_start/trucks_background_full.png") no-repeat center;
  filter: brightness(120%);
  box-shadow: inset 0 0 0 500px rgba(255, 204, 51, 0.85); }

.module-test-start__body {
  margin: 0 auto; }

.module-test-start__images {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -4.5vw; }

.module-test-start__images .heading {
  font-weight: bold;
  text-align: center;
  margin: 0; }

.module-test-start__item {
  width: 32.7%;
  display: inline-block; }

.module-test-start__images {
  display: block;
  width: 90%; }

.module-test-start__item img {
  width: 100%; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .module-test-start {
    margin: 50px 0; }
  .module-test-start__body {
    width: 65%;
    padding: 20px 0; }
  .module-test-start__desc {
    margin-bottom: 30px; }
  .module-test-start__images {
    display: none; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .module-test-start__body {
    width: 40%;
    padding: 30px 0 80px 0; }
  .module-test-start__desc {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .module-test-start__body {
    width: 20%;
    padding: 60px 0 120px 0; }
  .module-test-start__desc {
    display: block; }
  .module-test-start .container--full {
    background-size: 100%; }
  .module-test-start__item img {
    width: 75%;
    margin: 0 auto;
    display: block; } }

.module-more-read {
  width: 100%;
  padding-top: 20px; }

.module-more-read .teaser__body {
  background: transparent; }

.module-more-read .teaser__title {
  font-weight: 700; }

.module-more-read .teaser__img img {
  filter: grayscale(100%); }

.module-more-read .teaser__img:hover img {
  filter: grayscale(0); }

.module-more-read__wrap {
  width: 80%;
  margin: 0 auto; }

.module-more-read .slider__wrap {
  position: relative; }

.module-more-read .slider {
  overflow: hidden; }

.module-more-read .slider__wrap i {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  color: #5a5a5a; }

.module-more-read .slider__wrap i.fa-arrow-circle-o-left {
  left: -5vw; }

.module-more-read .slider__wrap i.fa-arrow-circle-o-right {
  right: -3vw; }

.module-more-read .teaser .teaser__body {
  font-size: 0.8rem; }

.module-more-read .slider .teaser--m:last-child {
  margin-left: 0; }

.module-more-read i {
  cursor: pointer; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .module-more-read__wrap {
    width: 90%; }
  .module-more-read .slider__wrap {
    width: 100%; }
  .module-more-read .teaser {
    height: 67vw; }
  .module-more-read i {
    display: none; }
  .module-more-read .slider .teaser:nth-child(2n+0) {
    margin-right: 0;
    margin-left: 1%; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .module-more-read__wrap {
    height: 17vw; }
  .module-more-read .slider__wrap {
    margin-left: 20vw; }
  .module-more-read .slider__wrap {
    top: -15vw; }
  .module-more-read .slider .teaser--m {
    width: 24%; }
  .module-more-read .section__title.heading--row {
    width: 8vw; } }

@media only screen and (min-width: 1025px) {
  .module-more-read__wrap {
    height: 12vw; }
  .module-more-read .slider__wrap {
    margin-left: 20vw; }
  .module-more-read .slider__wrap {
    top: -11vw; }
  .module-more-read .slider .teaser--m {
    width: 24%; }
  .module-more-read .section__title.heading--row {
    width: 6vw; } }

@media only screen and (min-width: 1900px) {
  .module-more-read .slider__wrap {
    top: -8vw; }
  .module-more-read .teaser--m {
    margin-right: 1.1%; } }

.pagination, .pagination__row {
  width: 100%;
  margin-bottom: 20px;
  text-align: center; }

.pagination__nums, .pagination__controls {
  display: inline-block; }

.pagination__controls {
  width: 100px;
  margin-left: 15px; }

.pagination a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  color: #000000;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  transition: background 0.15s linear; }

.pagination a:last-child {
  margin-right: 0; }

.pagination a.active, .pagination a:hover, .pagination__forward, .pagination__last {
  background: #f6f6f6; }

.pagination a.pagination__forward, .pagination a.pagination__last {
  font-size: 0.6rem; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .pagination a {
    font-size: 1.6rem; } }

@media only screen and (min-width: 767px) {
  .pagination a {
    font-size: 1.2rem; } }

@media only screen and (max-width: 1025px) {
  .module-breadcrumbs {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .module-breadcrumbs {
    display: block;
    width: 80%;
    margin: 50px 0 0 10%;
    font-size: 0.8rem;
    color: #000000; }
  .module-breadcrumbs a {
    text-decoration: none;
    color: inherit;
    margin: 0 10px; }
  .module-breadcrumbs a:first-child {
    margin-left: 0; }
  .module-breadcrumbs span {
    margin-left: 0 10px;
    cursor: default; } }

.btn {
  padding: 15px 25px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  border: 0;
  cursor: pointer;
  transition: all 0.15s linear;
  margin-bottom: 15px; }

.btn:hover {
  background: #000000;
  color: #ffffff; }

.btn--shadowed {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2); }

.btn--centered {
  display: block;
  margin: 0 auto; }

.btn--small {
  padding: 5px 15px; }

.btn--yellow {
  background: #ffcc33; }

.btn--lightGray {
  background: #f6f6f6; }

.portrait__slider {
  position: relative;
  width: calc(100% - 20px);
  border: 10px solid #ffcc33; }

.portrait__slide__img {
  width: 100%;
  z-index: 10; }

.portrait__slider .image__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20; }

.portrait__slide__body {
  width: 60%;
  position: absolute;
  color: #ffffff;
  z-index: 30; }

.portrait__slide__title {
  font-size: 1.8rem;
  margin: 0 0 15px 0; }

.portrait__slide__heading {
  font-size: 1.5rem; }

.portrait__slider .slider__navigation {
  float: none;
  position: absolute;
  z-index: 99999998; }

.portrait__slider .btn {
  position: absolute;
  padding: 10px 20px; }

.portrait__slide__heading {
  font-weight: bold;
  margin-top: 10px; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .portrait__slide__body {
    top: 8vw;
    left: 8vw; }
  .portrait__slider .btn {
    padding: 8px 20px;
    font-size: 0.7rem;
    bottom: 20px; }
  .portrait__slide__body {
    height: 70vw; }
  .portrait__slider .slider__navigation {
    top: 8vw;
    right: 2vw; }
  .portrait__slide__heading {
    font-size: 1.2rem; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .portrait__slide__heading {
    font-size: 1.2rem; }
  .portrait__slide__body {
    top: 3vw;
    left: 3vw; }
  .portrait__slider .slider__navigation {
    top: 3vw;
    right: 1vw; }
  .portrait__slide__body {
    height: 29vw; }
  .portrait__slider .btn {
    bottom: 40px; } }

@media only screen and (min-width: 319px) and (max-width: 1025px) {
  .portrait__slide__body .portrait__slide__desc {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .portrait__slide__body {
    top: 6vw;
    left: 4vw; }
  .portrait__slider .slider__navigation {
    top: 6vw;
    right: 1vw; }
  .portrait__slide__body {
    width: 50%;
    height: 28vw; }
  .portrait__slider .btn {
    bottom: 40px; } }

.faq__slider {
  margin-bottom: 150px; }

.faq__slider .slider__container {
  position: relative; }

.faq__slider .teaser__body {
  position: relative;
  background: transparent; }

.faq__slider .teaser__img img {
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.4); }

.faq__slider .teaser {
  overflow: visible; }

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .faq__slider .teaser {
    margin-bottom: 0; }
  .faq__slider .slider__container {
    width: 90%;
    margin: 0 auto;
    top: -100px; }
  .faq__slider .container--full {
    height: 18.5rem;
    top: 100px; } }

@media only screen and (min-width: 767px) {
  .faq__slider .teaser__body {
    margin-top: 20%; }
  .faq__slider .slider__container {
    top: -50px; }
  .faq__slider .slider__container {
    width: 75%;
    float: right;
    margin-right: 2%; }
  .faq__slider .container--full {
    top: 0; }
  .faq__slider .section__title.heading--row {
    margin-bottom: 10px; } }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .faq__slider .container--full {
    height: 15rem; } }

@media only screen and (min-width: 1025px) {
  .faq__slider .teaser__body {
    margin-top: 12%; }
  .faq__slider .container--full {
    height: 20rem; }
  .faq__slider .slider__container {
    width: 80%; } }

@media only screen and (min-width: 1900px) {
  .faq__slider .container--full {
    height: 23rem; } }

.vu-QA {
  padding-top: 5vw; }

.vu-QA .faq__slider {
  border-top: none;
  position: relative; }

@media only screen and (min-width: 767px) and (max-width: 1025px) {
  .vu-QA .faq__slider {
    width: 68%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px; }
  .vu-QA .faq__slider .container--full {
    height: 18rem; }
  .vu-QA .faq__slider .teaser__body {
    margin-top: 20px; }
  .vu-QA .faq__slider .slider__container {
    width: 60%;
    float: none;
    margin: 0 0 0 5vw; }
  .vu-QA .faq__slider .slider__navigation {
    float: none;
    position: absolute;
    bottom: 3.3vw;
    right: -11vw; }
  .vu-QA .faq__slider .section__title {
    position: relative;
    top: -6vw;
    left: 5vw; } }

@media only screen and (min-width: 1025px) {
  .vu-QA .faq__slider {
    width: calc(70% - 40px);
    padding: 40px 40px 40px 0;
    float: left;
    margin-right: 0;
    margin-bottom: 20px; }
  .vu-QA .faq__slider .container--full {
    height: 26rem; }
  .vu-QA .faq__slider .teaser__body {
    margin-top: 20px;
    width: 70%; }
  .vu-QA .faq__slider .slider__container {
    width: 60%;
    float: none;
    margin: 0 auto; }
  .vu-QA .faq__slider .slider__container {
    top: -10vw; }
  .vu-QA .slider__container .slider {
    width: 100%; }
  .vu-QA .faq__slider .slider__navigation {
    float: none;
    position: absolute;
    top: 27.2vw;
    right: 0; }
  .vu-QA .faq__slider .section__title {
    position: relative;
    top: -11vw;
    left: 10vw; } }

@media only screen and (min-width: 1900px) {
  .vu-QA .faq__slider .container--full {
    height: 28rem; }
  .vu-QA .faq__slider .slider__navigation {
    top: 27.5vw; } }
