@mixin container($width, $margin, $padding) {
  width: $width;
  margin: $margin;
  padding: $padding;
}

@mixin ulClean {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin article-hero($width, $height) {
  width: $width;
  height: $height;
  position: relative;
  overflow: hidden;
}

@mixin circled-icon($dimensions) {
  width: $dimensions;
  height: $dimensions;
  line-height: $dimensions;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
}
