.p-search-results {
  width: 100%;
}

.p-search-results .c-breadcrumbs {
  margin: 20px 0 0 3vw;
}

.p-search-results .c-test-start {

  @include breakpoint(tabletOnly) {
    margin: 7vw 0 0 0;
  };

}
