.p-psychotest-results {
  width: 100%;

  @include breakpoint(tabletOnly) {
    margin-bottom: 3vw;
  }

  &--wrap {
    width: 100%;

    @include breakpoint(desktopOnly) {
      width: 100%;
      position: relative;
      min-height: 25vw;
      margin-top: 6.7vw;
    }
  }

  &__heading {
    letter-spacing: 0.05em;
    color: $yellow;
    font-weight: 700;
    text-align: center;
    margin-top: 12vw;
    margin-bottom: 1vw;
    @include fontSize(50,43.91,44);

    @include breakpoint(tabletOnly) {
      margin-top: 10vw;
    }

    @include breakpoint(desktopOnly) {
      width: 37%;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
    }

  }

  &__image {
    max-width: 126%;
    margin-left: -10%;
    margin-bottom: 15vw;

    @include breakpoint(tabletOnly) {
      width: 125%;
      margin-left: -10%;
      position: relative;
      top: -3vw;
      z-index: -1;
      margin-bottom: 2.4vw;
    }

    @include breakpoint(desktopOnly) {
      width: 60%;
      position: absolute;
      left: 16.5%;
      top: -3.4vw;
    }
  }

  & .c-social-share {
    display: block;
    width: 59%;
    margin: 0 auto 7vw auto;
    text-align: center;
    padding: 0 3vw;

    @include breakpoint(tabletOnly) {
      width: 40%;
      padding: 0 1.4vw 2vw 1.4vw;
      margin: 0 auto 8vw auto;
    }

    @include breakpoint(desktopOnly) {
      display: block;
      width: 3.1%;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 20%;
      left: 3.3%;
      padding: 1.4vw 0;
    }

    & .share__icon {
      width: 15vw;
      height: 15vw;
      line-height: 15vw;

      @include breakpoint(tabletOnly) {
        width: 8vw;
        height: 8vw;
        line-height: 8vw;
        top: -3vw;
        margin-right: 2.5vw;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }

      @include breakpoint(desktopOnly) {
        width: 2.4vw;
        height: 2.4vw;
        line-height: 2.4vw;
        left: -1vw;
        top: 0;
        margin-right: 0;
        margin-bottom: 1.7vw;
      }

      & i {
        font-size: 4rem;

        @include breakpoint(tabletOnly) {
          font-size: 2.2rem;
          margin-top: 0;
        }

        @include breakpoint(desktopOnly) {
          font-size: 1.4rem;
          margin-top: 0;
          position: relative;
          top: -0.1vw;
        }
      }
    }
  }

  &__text {
    letter-spacing: 0.05em;
    width: 88%;
    color: #7e7e7e;
    margin: 0 auto;
    @include fontSize(28,16,16);
    @include lineHeight(42,22,22);

    @include breakpoint(tabletOnly) {
      color: #7e7e7e;
    }

    @include breakpoint(desktopOnly) {
      width: 36.5%;
      position: absolute;
      color: #7e7e7e;
      margin-bottom: 0;
      right: 0;
      top: 15.6%;
    }
  }

  & .buttons-wrap {
    text-align: center;
    margin-top: 11vw;

    @include breakpoint(tabletOnly) {
      margin-top: 7.5vw;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 1.8vw;
    }
  }

  & .btn {
    width: 53%;
    text-align: center;
    padding: 4vw 4vw;
    margin-bottom: 4vw;
    @include fontSize(21.12,14,14);
    @include letterSpacing(50,50,50);

    @include breakpoint(tabletOnly) {
      width: 38%;
      display: inline-block;
      margin-left: 2.4vw;
      padding: 2.4vw 1vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 1vw;
      width: 40%;
      display: inline-block;
      text-align: center;
      margin-left: 0;
      margin-bottom: 0;

      &:first-child {
        margin-right: 1vw;
      }
    }
  }

}

.c-more-read.psychotest-results {
  padding-top: 5vw;
  margin-top: 9vw;

  @include breakpoint(tabletOnly) {
    margin-top: 0;
  }

  @include breakpoint(desktopOnly) {
    width: 79.741%;
    margin: 0 auto;
  }

  @include breakpoint(desktopLarge) {
    margin-top: 0;
  }

  & .c-more-read__wrap {
    @include breakpoint(desktopOnly) {
      width: 86%;
      height: 10vw;
      margin-left: 9%;
    }
  }

  & .c-section-title.heading--row {
    margin: 0 0 5.4vw 0;

    @include breakpoint(desktopOnly) {
      position: relative;
      top: -2vw;
      left: -3vw;
    }

    & .text--italic {
      letter-spacing: 0;
    }

    & .text--bold {
      letter-spacing: 0;
    }
  }

  & .slider__wrap {
    @include breakpoint(tabletOnly) {
      top: -18vw;
    }
  }

  & .teaser__img img {
    filter: grayscale(0);
  }
}
