.block-comm-QA-list {
  & .body__wrap {
    position: relative;
    @include breakpoint(phoneOnly) {
      width: 100%;
      top: -5vw;
    }
  }

  & .c-section-title {
    &.heading--row {
      @include breakpoint(tabletAndDesktop) {
        position: relative;
        top: 18vw;
        left: 4vw;
        width: 20vw;
      }

      @include breakpoint(desktopOnly) {
        position: relative;
        top: 12vw;
        left: 3.5vw;
        width: 20vw;
      }
    }
  }

  & .teaser {
    overflow: visible;
    background: $lightGray;

    @include breakpoint(phoneOnly) {
      margin-bottom: 40px;
    }

    @include breakpoint(tabletAndDesktop) {
      margin-bottom: 10vw;
    }

    &.float--right {
      @include breakpoint(tabletAndDesktop) {
        float: right;
        margin-left: 5%;
        margin-right: 0;
      }
    }

    &:last-child {
      @include breakpoint(tabletAndDesktop) {
        margin-bottom: 20px;
      }
    }

    &.teaser--xl {
      float: none;
    }

    &--landscape {
      & .teaser__img {
        @include breakpoint(phoneOnly) {
          margin-right: 4%;
          box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.6);
        }

        @include breakpoint(tabletAndDesktop) {
          margin-right: 6%;
        }

        & img {
          margin-bottom: -4px;
        }
      }

      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 40%;
          margin-top: 12vw;
        }

        @include breakpoint(tabletAndDesktop) {
          margin-top: 12%;
          width: 40%;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 80%;
          margin: 0 auto;
          top: -2vw;
        }
      }
    }

    &--portrait {
      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 90%;
          margin: 0 auto;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 70%;
          margin: 0 auto;
          top: -7vw;
        }
      }
    }
  }

  & .QA__first-item {
    @include breakpoint(phoneOnly) {
      width: 90%;
      margin: 0 auto;
    }

    @include breakpoint(tabletAndDesktop) {
      width: 60%;
      float: right;
      margin-bottom: 8vw;
    }
  }

  & .teaser--m {
    @include breakpoint(phoneOnly) {
      height: 15rem;
    }

    @include breakpoint(tabletAndDesktop) {
      width: 30%;
      height: 11rem;
      margin-right: 2%;
    }

    @include breakpoint(desktopOnly) {
      height: 17rem;
    }

    &:nth-child(2n+0) {
      margin-right: 0;
      margin-left: 1%;
    }
  }

  & .teaser--l {
    @include breakpoint(tabletAndDesktop) {
      width: 67%;
      margin-top: -5vw;
      margin-left: 3.4vw;
      margin-right: 5%;
    }
  }
}
