.block-comm-QA-list {
  padding-top: 2vw;
  margin-bottom: 10.4vw;

  @include breakpoint(tabletOnly) {
    padding-top: 8vw;
    margin-bottom: 6.8vw;
  }

  @include breakpoint(desktopOnly) {
    padding-top: 2vw;
    margin-bottom: 6vw;
  }

  & .body__wrap {
    position: relative;
    @include breakpoint(phoneOnly) {
      width: 100%;
      top: -5vw;
    }
  }

  & .c-section-title {
    &.heading--row {
      margin: 0 0 16vw 0;

      @include breakpoint(tabletOnly) {
        position: absolute;
        top: 8.4vw;
        left: 3.8vw;
        width: 20vw;
        margin: 0;
      }

      @include breakpoint(desktopOnly) {
        position: absolute;
        top: 7vw;
        left: 3.5vw;
        width: 20vw;
      }

      & .text--italic {
        @include fontSize(45,20,30);
        margin: 0 -1vw 0 -0.7vw;

        @include breakpoint(tabletOnly) {
          margin: 0 -0.8vw 0 -0.5vw;
        }
      }

      & .text--regular {
        @include fontSize(45,20,30);
        @include letterSpacing(0,0,0);
        position: relative;
        top: 2vw;

        @include breakpoint(tabletOnly) {
          top: 0;
        }
      }
    }
  }

  & .teaser {
    overflow: visible;
    background: $lightGray;

    @include breakpoint(phoneOnly) {
      margin-bottom: 8.5vw;
    }

    @include breakpoint(tabletAndDesktop) {
      margin-bottom: 10vw;
    }

    &:nth-last-of-type(-n+2) {
      margin-bottom: 2vw;
    }

    &.float--right {
      @include breakpoint(tabletAndDesktop) {
        float: right;
        margin-left: 5%;
        margin-right: 0;
      }
    }

    &.teaser--xl {
      float: none;
    }

    &--landscape {
      & .teaser__img {
        @include breakpoint(phoneOnly) {
          margin-right: 4%;
          box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.6);
        }

        @include breakpoint(tabletAndDesktop) {
          margin-right: 6%;
        }
      }

      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 40%;
          margin-top: 12vw;
        }

        @include breakpoint(tabletAndDesktop) {
          margin-top: 12%;
          width: 40%;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 80%;
          margin: 0 auto;
          top: -2vw;
        }
      }
    }

    &--portrait {
      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 90%;
          margin: 0 auto;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 70%;
          margin: 0 auto;
          top: -7vw;
        }
      }
    }
  }

  & .QA__first-item {

    @include breakpoint(phoneOnly) {
      width: 87.5%;
      margin: 0 auto 4.7vw auto;
    }

    @include breakpoint(tabletOnly) {
      width: 61.5%;
      float: right;
      margin-bottom: 9.6vw;
    }

    @include breakpoint(desktopOnly) {
      width: 57.1%;
      float: right;
      margin-bottom: 8.2vw;
    }

    & .body__wrap {
      top: -6vw;

      @include breakpoint(tabletOnly) {
        top: -1.5vw;
      }

      @include breakpoint(desktopOnly) {
        width: 78%;
        top: -1.9vw;
      }
    }

    & .teaser--xl {
      padding-bottom: 2.5vw;
      margin-bottom: 0;

      @include breakpoint(tabletOnly) {
        padding-bottom: 1vw;
      }

      @include breakpoint(desktopOnly) {
        padding-bottom: 0;
      }

      & .teaser__img {
        margin-right: 6.5%;
        width: 48.572%;

        @include breakpoint(tabletOnly) {
          margin-right: 6.5%;
          width: 42.66%;
        }

        @include breakpoint(desktopOnly) {
          margin-right: 4.3%;
          width: 47.201%;
        }
      }

      & .teaser__body {
        width: 42%;
        margin-top: 16vw;

        @include breakpoint(tabletOnly) {
          width: 50%;
          margin-top: 5.7vw;
        }

        @include breakpoint(desktopOnly) {
          width: 47%;
          margin-top: 5.8vw;
        }

        & .teaser__title {
          @include breakpoint(desktopOnly) {
            line-height: calcRem(22);
            margin-bottom: 0.85vw;
          }
        }
      }
    }
  }

  & .teaser--m {
    width: 48.572%;
    margin-right: 2.856%;
    padding-bottom: 1vw;
    margin-bottom: 4.5vw;
    height: 42.5rem;

    @include breakpoint(tabletOnly) {
      width: 29.784%;
      height: 14.2rem;
      margin-right: 2.1%;
      margin-bottom: 5.2vw;
    }

    @include breakpoint(desktopOnly) {
      height: 30rem;
      margin-bottom: 3.4vw;
    }

    &:nth-child(2n+0) {
      @include breakpoint(phoneOnly) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    & .body__wrap {
      top: 0;

      @include breakpoint(tabletOnly) {
        top: -6.5vw;
      }

      @include breakpoint(desktopOnly) {
        width: 70.581%;
        top: -6.8vw;
      }
    }

    & .teaser__img {
      margin-bottom: 6.5vw;
      box-shadow: 0 30px 40px -15px rgba(0,0,0,0.2);

      @include breakpoint(tabletOnly) {
        margin-bottom: 2vw;
        box-shadow: 0 10px 30px -10px rgba(0,0,0,0.3);
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.8vw;
        box-shadow: 0 10px 30px -10px rgba(0,0,0,0.3);
      }
    }

    & .teaser__body {
      width: 84%;

      @include breakpoint(tabletOnly) {
        width: 120%;
        margin-left: -3%;
      }

      @include breakpoint(desktopOnly) {
        width: 100%;
        margin-left: 0;
      }
    }

    & .teaser__title {
      @include breakpoint(desktopOnly) {
        line-height: calcRem(22);
        margin-bottom: 1vw;
      }
    }
  }

  & .teaser--l {

    @include breakpoint(tabletOnly) {
      width: 61.5%;
      margin-left: 4.5%;
      margin-right: 20%;
      margin-bottom: 9.5vw;
      padding-bottom: 1vw;
    }

    @include breakpoint(desktopOnly) {
      width: 57.1%;
      margin-left: 4.8%;
      margin-right: 20%;
      margin-bottom: 8vw;
      padding-bottom: 0;
    }

    & .body__wrap {
      @include breakpoint(tabletOnly) {
        width: 80%;
        margin: 0 auto;
        top: -1.5vw;
      }

      @include breakpoint(desktopOnly) {
        width: 78%;
        top: -1.9vw;
      }
    }

    & .teaser__img {
      @include breakpoint(tabletOnly) {
        margin-right: 6.5%;
        width: 42.66%;
      }

      @include breakpoint(desktopOnly) {
        margin-right: 4.3%;
        width: 47.201%;
      }
    }

    & .teaser__body {
      @include breakpoint(tabletOnly) {
        margin-top: 5.7vw;
        width: 50%;
      }

      @include breakpoint(desktopOnly) {
        width: 47%;
        margin-top: 5.5vw;
      }

      & .teaser__title {
        @include breakpoint(desktopOnly) {
          line-height: calcRem(22);
          margin-bottom: 1.1vw;
        }
      }
    }
  }

  & .teaser__title {
    @include breakpoint(desktopOnly) {
      margin-bottom: 1vw;
    }
  }
}
