.block-comm-QA-list {
  @include breakpoint(tabletOnly) {
    margin-bottom: 5vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 7vw;
  }

  & .body__wrap {
    position: relative;
    @include breakpoint(phoneOnly) {
      width: 100%;
      top: -5vw;
    }
  }

  & .c-section-title {
    &.heading--row {
      margin: 3vw 0 13.8vw 0;
      line-height: 2rem;

      @include breakpoint(tabletOnly) {
        position: relative;
        top: 15.6vw;
        left: 4vw;
        width: 20vw;
        margin: 0 0 0.7vw 0;
      }

      @include breakpoint(desktopOnly) {
        position: absolute;
        top: 7vw;
        left: 3.5vw;
        width: 20vw;
      }
    }
  }

  & .teaser {
    overflow: visible;
    background: $lightGray;

    @include breakpoint(phoneOnly) {
      margin-bottom: 8.5vw;
    }

    @include breakpoint(tabletAndDesktop) {
      margin-bottom: 10vw;
    }

    &:nth-last-of-type(-n+2) {
      margin-bottom: 2vw;
    }

    &.float--right {
      @include breakpoint(tabletAndDesktop) {
        float: right;
        margin-left: 5%;
        margin-right: 0;
      }
    }

    &.teaser--xl {
      float: none;
    }

    &--landscape {
      & .teaser__img {
        @include breakpoint(phoneOnly) {
          margin-right: 4%;
          box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.6);
        }

        @include breakpoint(tabletAndDesktop) {
          margin-right: 6%;
        }

        & img {
          margin-bottom: -4px;
        }
      }

      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 40%;
          margin-top: 12vw;
        }

        @include breakpoint(tabletAndDesktop) {
          margin-top: 12%;
          width: 40%;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 80%;
          margin: 0 auto;
          top: -2vw;
        }
      }
    }

    &--portrait {
      & .teaser__body {
        @include breakpoint(phoneOnly) {
          width: 90%;
          margin: 0 auto;
        }
      }

      & .body__wrap {
        @include breakpoint(tabletAndDesktop) {
          width: 70%;
          margin: 0 auto;
          top: -7vw;
        }
      }
    }
  }

  & .QA__first-item {

    @include breakpoint(phoneOnly) {
      width: 87.8%;
      margin: 0 auto 10vw auto;
    }

    @include breakpoint(tabletOnly) {
      width: 61.5%;
      float: right;
      margin-bottom: 7.8vw;
    }

    @include breakpoint(desktopOnly) {
      width: 57.5%;
      float: right;
      margin-bottom: 6.8vw;
      margin-top: 2vw;
    }

    & .body__wrap {
      top: -6vw;

      @include breakpoint(tabletOnly) {
        top: -3vw;
      }

      @include breakpoint(desktopOnly) {
        width: 77%;
        top: -2vw;
      }
    }

    & .teaser--xl {
      padding-bottom: 1vw;

      @include breakpoint(tabletOnly) {
        padding-bottom: 0;
      }

      & .teaser__img {
        margin-right: 6%;

        @include breakpoint(tabletOnly) {
          margin-right: 4%;
          width: 48%;
        }
      }

      & .teaser__body {
        width: 42%;
        margin-top: 16vw;

        @include breakpoint(tabletOnly) {
          width: 48%;
          margin-top: 7vw;
        }

        @include breakpoint(desktopOnly) {
          margin-top: 5.8vw;
        }
      }
    }
  }

  & .teaser--m {
    height: 15rem;

    @include breakpoint(tabletAndDesktop) {
      width: 30%;
      height: 10.5rem;
      margin-right: 2%;
      margin-bottom: 5vw;
    }

    @include breakpoint(desktopOnly) {
      height: 15rem;
      margin-bottom: 3.8vw;
    }

    &:nth-child(2n+0) {
      @include breakpoint(phoneOnly) {
        margin-right: 0;
        margin-left: 1%;
      }
    }

    & .teaser__img {
      margin-bottom: 5.5vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 1.5vw;
      }
    }

    & .teaser__body {
      width: 84%;

      @include breakpoint(tabletOnly) {
        width: 115%;
        margin-left: -2%;
      }
    }

    & .teaser__title {
      line-height: 5vw;

      @include breakpoint(tabletOnly) {
        line-height: 2.5vw;
      }

      @include breakpoint(desktopOnly) {
        line-height: 1.5vw;
        margin-bottom: 0.8vw;
      }
    }
  }

  & .teaser--l {

    @include breakpoint(tabletOnly) {
      width: 62%;
      margin-left: 3.4vw;
      margin-right: 5%;
      margin-bottom: 9.5vw;
    }

    @include breakpoint(desktopOnly) {
      width: 57.5%;
      margin-left: 4.8%;
      margin-right: 20%;
      margin-bottom: 10.5%;
    }

    & .body__wrap {
      @include breakpoint(tabletOnly) {
        width: 80%;
        margin: 0 auto;
        top: -3vw;
      }

      @include breakpoint(desktopOnly) {
        top: -2vw;
        width: 79%;
      }
    }

    & .teaser__img {
      @include breakpoint(tabletOnly) {
        margin-right: 4%;
      }

      @include breakpoint(desktopOnly) {
        width: 46.5%;
      }
    }

    & .teaser__body {
      @include breakpoint(tabletOnly) {
        margin-top: 17%;
        width: 45%;
      }

      @include breakpoint(desktopOnly) {
        margin-top: 15%;
        width: 47%;
      }
    }
  }

  & .teaser__title {
    line-height: 4.9vw;

    @include breakpoint(tabletOnly) {
      line-height: 2.4vw;
    }

    @include breakpoint(desktopOnly) {
      line-height: 1.4vw;
      margin-bottom: 1vw;
    }
  }
}
