.comm-hero {
  &__title.qa--page {
    top: 22.7%;
    left: 17.6%;

    @include breakpoint(tabletOnly) {
      top: 49%;
      left: 8.5%;
    }

    @include breakpoint(desktopOnly) {
      top: 40.9%;
      left: 19.2%;
    }

    & .page__title.qa--page{
      @include lineHeight(42,32,72);
      margin-top: 0;
    }
  }
}
