.comm-more-topics {
  @include breakpoint(tabletOnly) {
    width: 30%;
    float: left;
  }

  @include breakpoint(desktopOnly) {
    position: relative;
    top: 11.8vw;
    width: 23.8%;
    margin-left: 10.2%;
  }

  &::before {
    @include breakpoint(desktopOnly) {
      display: block;
      content: "";
      position: absolute;
      left: -5vw;
      top: -2.85vw;
      width: 1px;
      height: 38.8vw;
      background: $lightGray;
    }
  }

  & .c-section-title.heading--row {
    margin-bottom: 10vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 3.1vw;
      width: 9vw;
    }

    @include breakpoint(desktopOnly) {
      margin-bottom: 1.1vw;
    }
  }

  & .btn {
    padding: 4.3vw 7vw 4.3vw 4.4vw;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.3vw;
    margin-bottom: 6.6vw;

    @include breakpoint(tabletOnly) {
      padding: 1.2vw 2vw 1.2vw 2vw;
      font-size: 0.84rem;
      font-weight: 400;
      letter-spacing: 0.02vw;
      margin-bottom: 1.8vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 1vw 1.2vw 1vw 1.5vw;
      font-size: 0.6rem;
      margin-bottom: 1.1vw;
    }

    &:last-child {
      margin-bottom: 3.5vw;
    }
  }
}
