.comm-more-topics {
  @include breakpoint(tabletOnly) {
    width: 30%;
    float: left;
  }

  @include breakpoint(desktopOnly) {
    position: relative;
    top: 4vw;
    width: calc(30% - 82px);
    padding: 40px 40px 12vw 40px;
    float: left;
    border-left: 2px solid $lightGray;
  }

  &::before, &::after {
    @include breakpoint(desktopOnly) {
      content: "";
      position: absolute;
      right: 0;
      width: 79.2vw;
      height: 2px;
      background: $lightGray;
      z-index: -1;
    }

    @include breakpoint(desktopLarge) {
      width: 79.4vw;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  & .btn {
    @include breakpoint(tabletOnly) {
      padding: 10px 20px;
      font-size: $fontVerySmall;
      font-weight: bold;
    }
  }
}
