.comm-hero {
  position: relative;
  margin-bottom: 20px;

  @include breakpoint(tabletOnly) {
    margin-bottom: 8vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 2vw;
  }

  @include breakpoint(desktopLarge) {
    margin-bottom: 3vw;
  }

  &__image {
    position: relative;
    width: 100%;

    @include breakpoint(tabletOnly) {
      width: 90%;
    }

    @include breakpoint(desktopOnly) {
      width: 80%;
    }

    & img {
      width: 100%;
      margin-bottom: -4px;
    }
  }

  &__title {
    position: absolute;
    top: 35%;
    left: 17%;

    @include breakpoint(tabletOnly) {
      top: 40%;
      left: 12%;
    }

    @include breakpoint(desktopOnly) {
      top: 40%;
      left: 15%;
    }

    & .page__title {
      margin-top: 10px;
      font-weight: 900;
      font-size: $fontLarge;

      @include breakpoint(tabletOnly) {
        font-size: $fontBig;
      }

      @include breakpoint(desktopOnly) {
        font-size: 3rem;
      }
    }
  }

  &__text {
    line-height: 1.5rem;
    width: calc(100% - 60px);
    padding: 30px;
    font-size: 1rem;

    @include breakpoint(tabletOnly) {
      width: 30%;
      padding: 40px;
      position: absolute;
      top: 15%;
      right: 0;
      line-height: 1.2rem;
    }

    @include breakpoint(desktopOnly) {
      width: 22%;
      padding: 70px;
      position: absolute;
      top: 25%;
      right: 0;
      line-height: 1.3rem;
      height: 27vw;
    }

    & p {
      margin: 0;
    }
  }
}
