.comm-editors-picks {

  & .c-section-title.heading--row {
    @include breakpoint(tabletAndDesktop) {
      width: 50%;
      margin-left: 51%;
    }
  }

  & .row--raised {
    @include breakpoint(tabletOnly) {
      margin-top: -10vw;
    }

    @include breakpoint(desktopOnly) {
      margin-top: -8vw;
    }
  }

}
