.comm-hero {
  position: relative;
  margin-bottom: 1vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 13.2vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 3vw;
  }

  @include breakpoint(desktopLarge) {
    margin-bottom: 3vw;
  }

  &__image {
    position: relative;
    width: 100%;

    @include breakpoint(tabletOnly) {
      width: 92.188%;
    }

    @include breakpoint(desktopOnly) {
      width: 79.6471%;
    }

    & img {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 18%;

    @include breakpoint(tabletOnly) {
      top: 43%;
      left: 8.6%;
    }

    @include breakpoint(desktopOnly) {
      top: 43%;
      left: 19.2%;
    }

    & .page__title {
      margin-top: 4vw;
      font-weight: 900;
      @include fontSize(40,32,70);
      @include letterSpacing(-25,-25,-25);

      @include breakpoint(tabletOnly) {
        margin-top: 2.2vw;
      }

      @include breakpoint(desktopOnly) {
        margin-top: 1.4vw;
      }
    }

    & .btn {
      @include fontSize(12,8,12);
      @include letterSpacing(50,50,50);
      padding: 1.5vw 4.8vw;
      font-weight: 700;

      @include breakpoint(tabletOnly) {
        padding: 0.7vw 2vw;
      }

      @include breakpoint(desktopOnly) {
        padding: 0.6vw 1.9vw;
      }
    }
  }

  &__text {
    width: calc(100% - 12vw);
    padding: 5.8vw 6vw;
    font-weight: 400;
    @include fontSize(28,14,18);
    @include lineHeight(42,20,28);
    @include letterSpacing(50,50,50);

    @include breakpoint(tabletOnly) {
      width: 36%;
      padding: 5.1vw 6vw 4vw 7.3vw;
      position: absolute;
      top: 13%;
      right: 0;
      line-height: 2.001rem;
    }

    @include breakpoint(desktopOnly) {
      width: 24%;
      padding: 6.8vw 5vw 7.3vw 5vw;
      position: absolute;
      top: 22.4%;
      right: 0;
      line-height: 2.8rem;
    }
  }
}
