.comm-more-topics {
  @include breakpoint(phoneOnly) {
    margin-bottom: 15vw;
  }

  @include breakpoint(tabletOnly) {
    width: 29.7%;
    float: left;
    position: relative;
    top: -3.5vw;
  }

  @include breakpoint(desktopOnly) {
    position: relative;
    top: 4.8vw;
    width: 23.8%;
    margin-left: 10.2%;
  }

  &::before {
    @include breakpoint(desktopOnly) {
      display: block;
      content: "";
      position: absolute;
      left: -5vw;
      top: -4.3vw;
      width: 2px;
      height: 39.15vw;
      background: $lightGray;
    }
  }

  & .c-section-title.heading--row {
    margin-bottom: 9.8vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 1.7vw;
      margin-top: 0;
      width: 9vw;
    }

    @include breakpoint(desktopOnly) {
      margin-bottom: 1.6vw;
    }

    & .text--bold {
      @include fontSize(45,20,32);
    }

    & .text--italic {
      @include fontSize(45,20,30);
    }
  }

  & .btn {
    @include fontSize(24,11.2,12);
    @include letterSpacing(50,50,10);
    padding: 4.5vw 7vw 4.6vw 4.5vw;
    margin-bottom: 6vw;
    font-weight: 700;

    @include breakpoint(tabletOnly) {
      padding: 1.45vw 1.4vw 1.1vw 1.4vw;
      margin-bottom: 2vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 1vw 1.2vw 1vw 1.5vw;
      margin-bottom: 1.1vw;
    }

    &:last-child {
      margin-bottom: 3.5vw;
    }
  }
}
