.c-diaporama-trigger {
  @include article-hero(100%, 48vw);
}

.c-diaporama-trigger .article-hero__footnote {
  z-index: 30;
}

.diaporama-trigger__slide {
  position: relative;
}

.diaporama-trigger__slide__overlay {

  @include breakpoint(phoneAndTablet) {
    display: none;
  };

  @include breakpoint(desktopOnly) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 10;
  };

}

.c-diaporama-trigger .slick-slider, .c-diaporama-trigger .slick-list, .c-diaporama-trigger .slick-track {
  height: 100%;
}

.c-diaporama-trigger .diaporama-trigger__slide img {
  width: 100%;
  z-index: 20;
}

.diaporama-trigger__navigation {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 20vw;
  z-index: 1000;
}

.diaporama-trigger__prev, .diaporama-trigger__next, .diaporama-trigger__navigation .btn {
  position: absolute;
}

.diaporama-trigger__prev, .diaporama-trigger__next {
  @include circled-icon(35px);
  background: $yellow;
  color: $black;
  bottom: -24vw;

  @include breakpoint(phoneAndTablet) {
    top: 0;
  };
}

.diaporama-trigger__prev {
  left: 30%;

  @include breakpoint(phoneAndTablet) {
    left: 0;
  };
}

.diaporama-trigger__next {
  right: 26%;

  @include breakpoint(phoneAndTablet) {
    right: 0;
  };
}

.diaporama-trigger__navigation .btn {

  left: 50%;
  width: 33vw;
  margin-left: -16.5vw;
  padding: 10px 25px;

  @include breakpoint(tabletOnly) {

    width: 15vw;
    margin-left: -7.5vw;
    padding: 15px 25px;

  };

  @include breakpoint(desktopOnly) {

    width: 10vw;
    margin-left: -5vw;
    padding: 15px 25px;
    background: $yellow;
    color: $black;

  };

}

.diaporama-trigger__thumbs {
  width: 30%;
  height: 4vw;
  position: absolute;
  bottom: 3vw;
  left: 52%;
  margin-left: -15%;
  overflow: hidden;
  z-index: 1000;

  @include breakpoint(phoneAndTablet) {
    display: none;
  };

  &.slick-slider {
    height: 4vw;
  }

  & .diaporama-trigger__thumb {

    position: relative;
    display: inline-block;
    width: 18%;
    height: 100%;
    margin-right: 2%;
    cursor: pointer;
    outline: none;

    & img {
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
    }

    & .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 0 5px $yellow;
      transition: opacity .1s linear;
    }

  }

  & .diaporama-trigger__thumb:hover, .diaporama-trigger__thumb.slick-current {

    & img {
      filter: grayscale(0);
    }

    & .overlay {
      opacity: 1;
    }

  }

}
