.c-faq-slider {
  margin-bottom: 35vw;

  @include breakpoint(tabletAndDesktop) {
    border-top: 2px solid $lightGray;
    margin-bottom: 0;
  }

  & .slider__container {
    position: relative;

    @include breakpoint(phoneOnly) {
      width: 90%;
      margin: 0 auto;
      top: -100px;
    }

    @include breakpoint(tabletOnly) {
      top: -50px;
      width: 75%;
      float: right;
      margin-right: 2%;
    }

    @include breakpoint(desktopOnly) {
      width: 80%;
    }
  }

  & .container--full {
    @include breakpoint(phoneOnly) {
      height: 18.5rem;
      top: 100px;
    }

    @include breakpoint(tabletOnly) {
      top: 0;
      height: 15rem;
    }

    @include breakpoint(desktopOnly) {
      height: 20rem;
    }

    @include breakpoint(desktopLarge) {
      height: 23rem;
    }
  }

  & .teaser {
    overflow: visible;

    @include breakpoint(phoneOnly) {
      margin-bottom: 0;
    }
  }

  & .teaser__body {
    position: relative;
    background: transparent;

    @include breakpoint(tabletOnly) {
      margin-top: 20%;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 12%;
    }
  }

  & .teaser__img {
    & img {
      box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.4);
    }
  }

  & .c-section-title.heading--row {
    @include breakpoint(tabletOnly) {
      margin-bottom: 10px;
    }
  }

  & .slider__navigation {
    @include breakpoint(tabletOnly) {
      margin-top: -4vw;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 0;
    }
  }
}
