.c-faq-slider {
  margin-bottom: 9rem;

  @include breakpoint(tabletOnly) {
    margin-bottom: 11.4rem;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 18.7rem;
  }

  & .slider__container {
    position: relative;

    @include breakpoint(phoneOnly) {
      width: 87.5%;
      margin: 0 auto;
      top: -14rem;
    }

    @include breakpoint(tabletOnly) {
      top: -5.6rem;
      width: 77.4%;
      float: right;
      margin-right: 3.5%;
    }

    @include breakpoint(desktopOnly) {
      width: 77.3%;
      top: -9rem;
      margin-right: 2.3%;
    }
  }

  & .container--full {
    height: 51.6rem;

    @include breakpoint(tabletOnly) {
      height: 20.3rem;
    }

    @include breakpoint(desktopOnly) {
      height: 39.8rem;
      width: 93.5%;
    }
  }

  & .teaser {
    overflow: visible;

    @include breakpoint(phoneOnly) {
      margin-bottom: 0;
    }
  }

  & .teaser--landscape .teaser__body {
    position: relative;
    background: transparent;
    width: 100%;

    @include breakpoint(tabletOnly) {
      margin-top: 20%;
      width: 29%;
      letter-spacing: 0.12vw;
    }

    @include breakpoint(desktopOnly) {
      width: 38%;
      margin-top: 17.6%;
    }
  }

  & .teaser--landscape .teaser__title {
    @include breakpoint(tabletOnly) {
      font-size: calcRem(16);
      line-height: calcRem(20);
      width: 100%;
    }

    @include breakpoint(desktopOnly) {
      font-size: calcRem(22);
      line-height: calcRem(30);
      letter-spacing: calcLS(50);
      margin-bottom: 1.4vw;
    }
  }

  & .teaser--landscape .teaser__desc {
    @include breakpoint(desktopOnly) {
      font-size: calcRem(14);
      line-height: calcRem(18);
      letter-spacing: calcLS(50);
    }
  }

  & .teaser--landscape .teaser__img {
    margin-bottom: 7vw;
    width: 100%;
    margin-right: 0;
    box-shadow: 0 60px 60px -20px rgba(0, 0, 0, 0.4);

    @include breakpoint(tabletOnly) {
      width: 54.983%;
      margin-right: 6%;
      box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.4);
    }

    @include breakpoint(desktopOnly) {
      width: 55.86%;
      margin-right: 3%;
      box-shadow: 0 70px 60px -30px rgba(0, 0, 0, 0.4);
    }
  }

  & .c-section-title.heading--row {
    margin: 9vw 0 18.5rem 0;

    @include breakpoint(tabletOnly) {
      margin: 0 0 0.2rem 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 0 0 2rem 0;
    }

    & .text--italic {
      margin-left: 1rem;
      @include fontSize(45,20,30);

      @include breakpoint(tabletOnly) {
        margin-left: 0.1rem;
      }

      @include breakpoint(desktopOnly) {
        margin-left: 0.5rem;
      }
    }

    & .text--bold {
      position: relative;
      top: 0.5rem;

      @include breakpoint(tabletOnly) {
        top: -0.5rem;
      }

      @include breakpoint(desktopOnly) {
        top: 0;
      }
    }
  }

  & .slider__navigation {
    position: relative;
    top: 0.4rem;
    right: -1.8vw;
    @include fontSize(25,11.76,14);
    @include letterSpacing(50,50,50);
    font-weight: 700;

    @include breakpoint(tabletOnly) {
      margin-top: -6.8rem;
      right: -1rem;
    }

    @include breakpoint(desktopOnly) {
      position: absolute;
      top: 15rem;
      right: 1.4rem;
      margin-top: 0;
    }

    & .separator {
      margin: 0 -0.4rem;

      @include breakpoint(tabletOnly) {
        margin: 0;
      }

      @include breakpoint(desktopOnly) {
        margin: 0 -0.2rem;
      }
    }

    & i {
      padding: 3vw 2vw;

      @include breakpoint(tabletOnly) {
        padding: 1.6vw;
      }

      @include breakpoint(desktopOnly) {
        padding: 0;
        display: inline-block;
        @include circled-icon(1vw);
        background: $lightGray;
        color: #505050;
        transition: all .2s linear;
      }

      &:hover {
        @include breakpoint(desktopOnly) {
          background: #b9b5b5;
          color: $white;
        }
      }
    }
  }
}
