.c-faq-slider {
  margin-bottom: 31vw;

  @include breakpoint(tabletAndDesktop) {
    margin-bottom: 0;
  }

  & .slider__container {
    position: relative;

    @include breakpoint(phoneOnly) {
      width: 87%;
      margin: 0 auto;
      top: -100px;
    }

    @include breakpoint(tabletOnly) {
      top: -7vw;
      width: 77.4%;
      float: right;
      margin-right: 3.5%;
    }

    @include breakpoint(desktopOnly) {
      width: 77.3%;
      top: -5vw;
      margin-right: 2.3%;
    }
  }

  & .container--full {
    @include breakpoint(phoneOnly) {
      height: 17.2rem;
      top: 100px;
    }

    @include breakpoint(tabletOnly) {
      top: 0;
      height: 15rem;
    }

    @include breakpoint(desktopOnly) {
      height: 20rem;
      width: 93.5%;
    }

    @include breakpoint(desktopLarge) {
      height: 23rem;
    }
  }

  & .teaser {
    overflow: visible;

    @include breakpoint(phoneOnly) {
      margin-bottom: 0;
    }
  }

  & .teaser--landscape .teaser__body {
    position: relative;
    background: transparent;

    @include breakpoint(tabletOnly) {
      margin-top: 20%;
      width: 29%;
      letter-spacing: 0.12vw;
    }

    @include breakpoint(desktopOnly) {
      width: 38%;
      margin-top: 17.2%;
    }
  }

  & .teaser--landscape .teaser__title {

    @include breakpoint(tabletOnly) {
      line-height: 2.6vw;
      font-weight: 700;
    }

    @include breakpoint(desktopOnly) {
      line-height: 1.8vw;
      font-size: 1rem;
      margin-bottom: 1.4vw;
    }
  }

  & .teaser--landscape .teaser__desc {
    @include breakpoint(desktopOnly) {
      font-size: 0.6rem;
      line-height: 1vw;
    }
  }

  & .teaser--landscape .teaser__img {
    margin-bottom: 8vw;

    @include breakpoint(tabletOnly) {
      width: 55%;
      margin-right: 6%;
    }

    @include breakpoint(desktopOnly) {
      width: 56%;
      margin-right: 3%;
    }
  }

  & .teaser__img {
    & img {
      box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.4);
    }
  }

  & .c-section-title.heading--row {
    margin: 9vw 0 6vw 0;
    font-size: 1.66rem;

    @include breakpoint(tabletOnly) {
      margin: 9vw 0 1vw 0;
      font-size: 1.45rem;
      line-height: 2.4vw;
      padding-top: 0.5vw;
    }

    @include breakpoint(desktopOnly) {
      margin: 5.8vw 0 1vw 0;
      font-size: 1.55rem;
      line-height: 1.9vw;
    }
  }

  & .slider__navigation {
    position: relative;
    right: -2.8vw;
    font-size: 0.9rem;

    @include breakpoint(tabletOnly) {
      margin-top: -12vw;
      font-size: 1.6vw;
      right: -1.6vw;
    }

    @include breakpoint(desktopOnly) {
      position: absolute;
      font-size: 0.8rem;
      top: 8.7vw;
      right: 0.8vw;
      margin-top: 0;
    }

    & i {
      padding: 3vw 3vw 3vw 2vw;

      @include breakpoint(tabletOnly) {
        padding: 1.6vw;
      }

      @include breakpoint(desktopOnly) {
        padding: 0.6vw;
      }
    }
  }
}
