.c-more-read {
  width: 100%;
  padding-top: 9vw;
  margin-top: 8vw;

  &__wrap {
    width: 80%;
    margin: 0 auto;

    @include breakpoint(phoneOnly) {
      width: 87.8%;
    }

    @include breakpoint(tabletOnly) {
      height: 17vw;
    }

    @include breakpoint(desktopOnly) {
      height: 12vw;
    }

    @include breakpoint(desktopLarge) {
      top: -8vw;
    }
  }

  & .slider__wrap {
    position: relative;

    @include breakpoint(phoneOnly) {
      width: 100%;
    }

    @include breakpoint(tabletOnly) {
      margin-left: 20vw;
      top: -15vw;
    }

    @include breakpoint(desktopOnly) {
      top: -11vw;
    }

    & i {
      position: absolute;
      top: 40%;
      font-size: 2rem;
      color: $darkGray;

      &.fa-arrow-circle-o-left {
        left: -5vw;
      }

      &.fa-arrow-circle-o-right {
        right: -3vw;
      }
    }
  }

  & .slider {
    overflow: hidden;

    & .teaser--m {
      @include breakpoint(tabletOnly) {
        margin-right: 1%;
        width: 24%;
      }

      @include breakpoint(desktopOnly) {
        width: 24%;
      }

      @include breakpoint(desktopLarge) {
        margin-right: 1.1%;
      }

      &:last-child {
        margin-left: 0;
      }
    }

  }

  & .teaser {
    @include breakpoint(phoneOnly) {
      height: 65vw;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 6vw;

      &:nth-child(2n+0) {
        margin-right: 0;
      }
    }

    & .teaser:nth-child(2n+0) {
      @include breakpoint(phoneOnly) {
        margin-right: 0;
        margin-left: 1%;
      }
    }
  }

  & .teaser__body {
    background: transparent;
    font-size: 0.8rem;
  }

  & .teaser__title {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.17vw;
    width: 85%;
  }

  & .teaser__img {
    margin-bottom: 2vw;
    & img {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  & i {
    cursor: pointer;

    @include breakpoint(phoneOnly) {
      display: none;
    }
  }

  & .c-section-title {
    &.heading--row {
      font-size: 1.5rem;
      margin: 0 0 10vw 0;
      padding-left: 1vw;
      letter-spacing: 0.4vw;

      @include breakpoint(tabletOnly) {
        width: 8vw;
      }

      @include breakpoint(desktopOnly) {
        width: 6vw;
      }
    }
  }
}
