.c-more-read {
  width: 100%;
  padding-top: 8vw;

  @include breakpoint(tabletOnly) {
    padding-top: 4vw;
  }

  @include breakpoint(desktopOnly) {
    padding-top: 3.6vw;
  }

  &__wrap {
    margin: 0 auto;

    @include breakpoint(phoneOnly) {
      width: 87.5%;
    }

    @include breakpoint(tabletOnly) {
      height: 20vw;
      width: 80.5%;
      margin: 0 5% 0 8%;
    }

    @include breakpoint(desktopOnly) {
      height: 15vw;
      width: 76%;
      margin: 0 5% 0 10.5%;
    }

    @include breakpoint(desktopLarge) {
      top: -8vw;
    }
  }

  & .slider__wrap {
    position: relative;

    @include breakpoint(phoneOnly) {
      width: 100%;
    }

    @include breakpoint(tabletOnly) {
      margin-left: 16vw;
      top: -22vw;
    }

    @include breakpoint(desktopOnly) {
      top: -11vw;
      width: 80%;
      margin-left: 15vw;
    }

    & .arrow-left, & .arrow-right {
      position: absolute;
      top: 35%;

      @include breakpoint(phoneOnly) {
        display: none;
      }

      @include breakpoint(tabletOnly) {
        width: 3.5vw;
        height: 3.5vw;
      }

      @include breakpoint(desktopOnly) {
        top: 45%;
        width: 3.2vw;
        height: 3.2vw;
      }
    }

    & .arrow-left {
      left: -5.7vw;

      @include breakpoint(desktopOnly) {
        left: -4.8vw;
      }
    }

    & .arrow-right {
      right: -3.6vw;

      @include breakpoint(desktopOnly) {
        right: -3.4vw;
      }
    }
  }

  & .slider {
    overflow: hidden;

    & .teaser--m {
      @include breakpoint(tabletOnly) {
        margin-right: 1%;
      }

      @include breakpoint(desktopOnly) {
        margin-right: 0.8%;
      }

      @include breakpoint(desktopLarge) {
        margin-right: 1.1%;
      }

      &:last-child {
        margin-left: 0;
      }
    }

  }

  & .teaser {
    @include breakpoint(phoneOnly) {
      height: 65vw;
      width: 48.572%;
      margin-right: 2.856%;
      margin-bottom: 6vw;

      &:nth-child(2n+0) {
        margin-right: 0;

        & .teaser__title {
          width: 100%;
        }
      }
    }

    & .teaser:nth-child(2n+0) {
      @include breakpoint(phoneOnly) {
        margin-right: 0;
        margin-left: 1%;
      }
    }
  }

  & .teaser__body {
    background: transparent;
    font-size: 0.8rem;
  }

  & .teaser__title {
    font-weight: 700;
    width: 85%;
    @include fontSize(26,12,16);
    @include lineHeight(32,14,20);
    @include letterSpacing(50,50,50);

    @include breakpoint(tabletOnly) {
      width: 100%;
    }

    @include breakpoint(desktopOnly) {
      font-weight: 900;
    }
  }

  & .teaser__img {
    margin-bottom: 2vw;

    @include breakpoint(desktopOnly) {
      margin-bottom: 1.4vw;
    }
    & img {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  & i {
    cursor: pointer;

    @include breakpoint(phoneOnly) {
      display: none;
    }
  }

  & .c-section-title {
    margin: 0 0 10.3vw 0;

    @include breakpoint(tabletOnly) {
      width: 10vw;
      margin: 0 0 10vw 0;
      padding-left: 0;
    }

    @include breakpoint(desktopOnly) {
      width: 7vw;
      margin: 0 0 0 0;
      padding-left: 0;
    }

    & .text--italic {
      margin-right: 2vw;
    }

    & .text--regular {
      margin-right: 1vw;
    }
  }
}
