.portrait__slider {
  position: relative;
  width: calc(100% - 4rem);
  border: 2rem solid #ffcc33;

  @include breakpoint(tabletOnly) {
    border: 1.3rem solid $yellow;
    width: calc(100% - 2.6rem);
  }

  @include breakpoint(desktopOnly) {
    border: 2.4rem solid #ffcc33;
    width: calc(100% - 4.8rem);
  }

  & .portrait__slide__img {
    width: 100%;
    z-index: 10;
  }

  & .image__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  & .portrait__slide__body {
    width: 53%;
    position: absolute;
    color: $white;
    z-index: 30;

    @include breakpoint(phoneOnly) {
      top: 11vw;
      left: 8vw;
      height: 66vw;
    }

    @include breakpoint(tabletOnly) {
      width: 47%;
      top: 5.6vw;
      left: 3.7vw;
      height: 30vw;
    }

    @include breakpoint(desktopOnly) {
      top: 5.4vw;
      left: 3.6vw;
      width: 39%;
      height: 29vw;
    }

    & .portrait__slide__desc {
      @include breakpoint(phoneAndTablet) {
        display: none;
      }

      @include breakpoint(desktopOnly) {
        font-size: calcRem(14);
        line-height: calcRem(18);
        letter-spacing: calcLS(50);
        width: 82%;
        font-weight: 400;
      }
    }
  }

  & .portrait__slide__title {
    @include fontSize(50,18,30);
    @include letterSpacing(0,0,0);
    margin: 0 0 3vw 0;

    @include breakpoint(tabletOnly) {
      margin: 0 0 0.7vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 0 0 0.8vw 0;
    }
  }

  & .slider__navigation {
    @include fontSize(25,10,14);
    @include letterSpacing(50,50,50);
    float: none;
    position: absolute;
    z-index: 99999998;
    top: 11.5vw;
    right: 2.5vw;

    @include breakpoint(tabletOnly) {
      top: 5.6vw;
      right: 1.6vw;
    }

    @include breakpoint(desktopOnly) {
      top: 5.2vw;
      right: 2.4vw;
    }

    & i {
      padding: 1.2vw;

      @include breakpoint(tabletOnly) {
        padding: 0.6vw;
      }

      @include breakpoint(desktopOnly) {
        padding: 0.5vw;
      }
    }
  }

  & .btn {
    position: absolute;
    @include fontSize(12,10,12);
    @include letterSpacing(100,100,100);

    @include breakpoint(phoneOnly) {
      padding: 2vw 3.6vw;
      bottom: 6.4vw;
    }

    @include breakpoint(tabletOnly) {
      bottom: 5.7vw;
      padding: 1.3vw 1.7vw;
    }

    @include breakpoint(desktopOnly) {
      bottom: 7.2vw;
      padding: 0.75vw 1.3vw;
    }
  }

  & .portrait__slide__heading {
    @include fontSize(36,16,28);
    @include lineHeight(38,20,34);
    @include letterSpacing(50,50,50);
    font-weight: 900;

    @include breakpoint(desktopOnly) {
      margin-bottom: 0.65vw;
    }
  }
}
