.vu-QA {
  @include breakpoint(tabletOnly) {
    padding-top: 5vw;
  }

  @include breakpoint(desktopOnly) {
    padding-top: 0;
    position: relative;
    margin-bottom: 6.4vw;
  }

  & .c-faq-slider {
    border-top: none;
    position: relative;
    margin-bottom: 31vw;

    @include breakpoint(tabletOnly) {
      width: 68%;
      float: left;
      margin-right: 2%;
      margin-bottom: 0.3vw;
    }

    @include breakpoint(desktopOnly) {
      position: relative;
      width: 66%;
      padding: 0;
      float: left;
      margin-right: 0;
      margin-bottom: 0;
    }

    &::before, &::after {
      @include breakpoint(desktopOnly) {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 152%;
        height: 1px;
        background: $lightGray;
        z-index: -1;
      }
    }

    &::before {
      top: 8.9vw;
    }

    &::after {
      bottom: -2.33vw;
    }

    & .container--full {
      height: 19.5rem;
      top: 20vw;

      @include breakpoint(tabletOnly) {
        top: 0;
        height: 18.7rem;
      }

      @include breakpoint(desktopOnly) {
        height: 25.6rem;
        top: -2vw;
      }

      @include breakpoint(desktopLarge) {
        height: 30.7rem;
      }
    }

    & .teaser__body {
      margin-top: 20px;

      @include breakpoint(tabletOnly) {
        width: 70%;
        margin-top: 0;
      }

      @include breakpoint(desktopOnly) {
        width: 70%;
      }
    }

    & .slider__container {
      width: 87.8%;
      float: none;
      margin: 0 auto;
      top: -21vw;

      @include breakpoint(tabletOnly) {
        width: 68%;
        top: -12vw;
        margin: 0 0 0 9.2%;
      }

      @include breakpoint(desktopOnly) {
        width: 59%;
        float: none;
        margin: 0 auto;
        top: -8vw;
      }

      & .slider {
        @include breakpoint(desktopOnly) {
          width: 100%;
        }
      }
    }

    & .slider__navigation {
      float: none;
      position: absolute;
      bottom: -10vw;
      right: -2vw;

      @include breakpoint(tabletOnly) {
        bottom: 3.3vw;
        right: -11vw;
      }

      @include breakpoint(desktopOnly) {
        float: none;
        position: absolute;
        top: 26vw;
        right: -0.5vw;
      }

      @include breakpoint(desktopLarge) {
        top: 27.5vw;
      }
    }

    & .c-section-title.heading--row {
      margin: 7.3vw 0 5.8vw 0;
      font-size: 1.65rem;

      @include breakpoint(tabletOnly) {
        position: relative;
        top: -12vw;
        left: 5vw;

        @include breakpoint(tabletOnly) {
          margin: 7.3vw 0 2.5vw 0;
        }
      }

      @include breakpoint(desktopOnly) {
        position: relative;
        top: -8.5vw;
        left: 10vw;
        margin: 7.3vw 0 3.1vw 0;
      }
    }
  }

  & .teaser__img {
    margin-bottom: 7vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 2.4vw;
    }

    @include breakpoint(desktopOnly) {
      margin-bottom: 2vw;
    }
  }

  & .teaser__title {
    @include breakpoint(desktopOnly) {
      font-size: 1.2rem;
      letter-spacing: 0.01vw;
      line-height: 1.6vw;
      margin-bottom: 1.4vw;
    }
  }
}
