.vu-QA {
  padding-top: 5vw;

  & .c-faq-slider {
    border-top: none;
    position: relative;

    @include breakpoint(tabletOnly) {
      width: 68%;
      float: left;
      margin-right: 2%;
      margin-bottom: 7vw;
    }

    @include breakpoint(desktopOnly) {
      width: calc(70% - 40px);
      padding: 40px 40px 40px 0;
      float: left;
      margin-right: 0;
      margin-bottom: 20px;
    }

    & .container--full {
      height: 22rem;

      @include breakpoint(desktopOnly) {
        height: 26rem;
      }

      @include breakpoint(desktopLarge) {
        height: 28rem;
      }
    }

    & .teaser__body {
      margin-top: 20px;

      @include breakpoint(desktopOnly) {
        margin-top: 20px;
        width: 70%;
      }
    }

    & .slider__container {
      width: 65%;
      float: none;
      margin: 0 0 0 5vw;

      @include breakpoint(desktopOnly) {
        width: 60%;
        float: none;
        margin: 0 auto;
        top: -10vw;
      }

      & .slider {
        @include breakpoint(desktopOnly) {
          width: 100%;
        }
      }
    }

    & .slider__navigation {
      float: none;
      position: absolute;
      bottom: 3.3vw;
      right: -12vw;

      @include breakpoint(desktopOnly) {
        float: none;
        position: absolute;
        top: 27.2vw;
        right: 0;
      }

      @include breakpoint(desktopLarge) {
        top: 27.5vw;
      }
    }

    & .c-section-title {
      position: relative;
      top: -6vw;
      left: 5vw;

      @include breakpoint(desktopOnly) {
        position: relative;
        top: -11vw;
        left: 10vw;
      }
    }
  }
}
