.slider__navigation {
  z-index: 30;
  font-weight: 700;

  @include breakpoint(phoneAndTablet) {
    float: right;
  }

  @include breakpoint(desktopOnly) {
    position: absolute;
    top: 7vw;
    right: 0;
  }

  & i {
    cursor: pointer;
    padding: 10px;
  }

}

.slider .slick-list {
  overflow: visible;
}
