.btn {
  padding: 15px 25px;
  font-size: $fontSmall;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: $white;
  color: $black;
  border: 0;
  cursor: pointer;
  transition: all 0.15s linear;
  margin-bottom: 15px;
  outline: none;

  &:hover {
    background: $black;
    color: $white;
  }

  &--shadowed {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }

  &--centered {
    display: block;
    margin: 0 auto;
  }

  &--small {
    padding: 5px 15px;
  }

  &--yellow {
    background: $yellow;
  }

  &--lightGray {
    background: $lightGray;
  }
}
