.accordion-wrap {
  width: 100%;
  @include breakpoint(phoneOnly) {
    width: 112%;
    margin-left: -6%;
  }

  @include breakpoint(tabletAndDesktop) {
    margin: 50px 0;
  }

  & .c-faq-accordion {
    width: 100%;

    & .accordion__element {
      width: 100%;
      background: $lightGray;
      border-bottom: 1px solid #e1dede;

      &:last-child {
        border-bottom: none;
      }

      &__heading {
        position: relative;
        width: 100%;
        padding: 30px 0;
        font-size: $fontNormal;
        cursor: pointer;

        & .accordion-heading__text {
          width: 76%;
          margin: 0 0 0 6%;
          letter-spacing: 2px;
          color: #6e6d6d;

          @include breakpoint(tabletAndDesktop) {
            font-size: $fontMedium;
          }
        }

        & .accordion-heading__text {
          font-weight: 900;

          @include breakpoint(tabletAndDesktop) {
            font-weight: 700;
          }
        }

        & .accordion-heading__arrow {
          @include circled-icon(30px);
          background: $white;
          color: #6e6d6d;
          position: absolute;
          top: 50%;
          right: 20px;
          margin-top: -15px;
          font-size: $fontMedium;

          @include breakpoint(tabletAndDesktop) {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: -20px;
          }
        }
      }

      &__text {
        display: none;
        padding-bottom: 30px;
        width: 76%;
        margin: 0 0 0 6%;
        letter-spacing: 2px;
        color: #6e6d6d;

        @include breakpoint(tabletAndDesktop) {
          font-size: $fontNormal;
        }
      }
    }
  }
}
