.accordion-wrap, .c-faq-accordion, .accordion__element {
  width: 100%;
}

.accordion__element {
  background: $lightGray;
  border-bottom: 1px solid #e1dede;
}

.accordion__element:last-child {
  border-bottom: none;
}

.accordion__element__heading {
  position: relative;
  width: 100%;
  padding: 30px 0;
  font-size: $fontNormal;
  cursor: pointer;
}

.accordion-heading__text, .accordion__element__text {
  width: 76%;
  margin: 0 0 0 6%;
  letter-spacing: 2px;
  color: #6e6d6d;
}

.accordion-heading__text {
  font-weight: 900;
}

.accordion__element__text {
  display: none;
  padding-bottom: 30px;
}

.accordion-heading__arrow {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: $white;
  color: #6e6d6d;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -15px;
  font-size: $fontMedium;
  cursor: pointer;
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {

  .accordion-wrap {
    width: 112%;
    margin-left: -6%;
  }

}

@media only screen and (min-width: $break-tab) {

  .accordion-wrap {
    margin: 50px 0;
  }

  .accordion__element__heading .accordion-heading__text {
    font-size: $fontMedium;
  }

  .accordion-heading__arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
  }

  .accordion-heading__text {
    font-weight: 700;
  }

}
