.c-main-navigation {
  @include ulClean;

  @include breakpoint(phoneOnly) {
    margin-bottom: 33vw;
    position: relative;
  }

  @include breakpoint(tabletOnly) {
    margin-bottom: 28vw;
  }

  @include breakpoint(desktopOnly) {
    width: 90%;
    text-align: center;
    position: fixed;
    top: 1.2vw;
    left: 50%;
    margin-left: -44%;
    margin-bottom: 0;
  }

  &--wrap {
    @include breakpoint(phoneAndTablet) {
      @include container(80vw, 0, 16vw 2vw 10vw 4vw);
      background: $white;
      position: fixed;
      top: 13vw;
      bottom: 0;
      left: -86vw;
      z-index: 50;
      overflow: hidden;
      transition: all 0.2s linear;

      &.inView {
        left: 0;
      }
    }

    @include breakpoint(tabletOnly) {
      @include container(61vw, 0, 16.4vw 1vw 10vw 8vw);
      left: -70vw;
      top: 11vw;
    }

    @include breakpoint(desktopOnly) {
      height: auto;
      position: absolute;
      width: 5%;
      z-index: 110;
      background: transparent;
      padding: 0 0 0 0.3%;
      left: 2vw;
      top: 0;
    }
  }

  & a {
    @include breakpoint(phoneAndTablet) {
      text-decoration: none;
      color: $black;
    }
  }

  & > li {
    @include breakpoint(phoneAndTablet) {
      margin-bottom: 10.7vw;
      position: relative;
    }

    @include breakpoint(tabletOnly) {
      margin-bottom: 7.6vw;
    }

    @include breakpoint(desktopOnly) {
      display: inline-block;
      margin-right: 40px;
      z-index: 110;

      &:first-child {
        margin-left: 6vw;
      }

      &:nth-child(3) {
        margin-right: 16vw;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & i {
      @include breakpoint(phoneAndTablet) {
        color: $yellow;
        margin-right: 4vw;
        position: relative;
        top: -2px;
        font-size: $fontNormal;
      }

      @include breakpoint(tabletOnly) {
        margin-right: 3.4vw;
      }

      @include breakpoint(desktopOnly) {
        display: none;
      }
    }
  }

  & > li > a {
    text-transform: uppercase;

    @include breakpoint(phoneOnly) {
      font-weight: 700;
      font-size: $fontMedium;
    }

    @include breakpoint(tabletOnly) {
      font-size: 1.7rem;
      letter-spacing: 0.2vw;
      font-weight: 700;
    }

    @include breakpoint(desktopOnly) {
      font-weight: 700;
      color: $yellow;
      text-decoration: none;
      font-size: 0.5rem;
      transition: color 0.15s linear;
    }

    &.active, &:hover {
      @include breakpoint(desktopOnly) {
        color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  & .sub__menu {
    display: none;
    padding-left: 14vw;
    font-size: 1.3rem;

    @include breakpoint(tabletOnly) {
      padding-left: 9vw;
    }

    @include breakpoint(desktopOnly) {
      position: fixed;
      top: 4vw;
      left: 0;
      right: 0;
      background: $white;
      overflow: hidden;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      padding-left: 0;
    }

    & > ul {
      list-style: none;

      @include breakpoint(desktopOnly) {
        @include ulClean;
        display: block;
        position: relative;
        width: 17.8%;
        float: left;
        padding: 4vw 0 1.7vw 7.2%;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 0.1rem;
          height: 20rem;
          background: #ececec;
        }
      }

      & > li {
        margin-top: 7.3vw;

        @include breakpoint(tabletOnly) {
          margin-top: 5.1vw;
        }

        @include breakpoint(desktopOnly) {
          text-align: left;
          margin-top: 0;
          margin-bottom: 2.6vw;
        }

        & > a {
          font-weight: 400;

          @include breakpoint(tabletOnly) {
            font-size: 2rem;
          }

          @include breakpoint(desktopOnly) {
            text-decoration: none;
            color: $black;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

.page.menuOpened {
  left: 86vw;

  @include breakpoint(tabletOnly) {
    left: 70vw;
  }
}

@include breakpoint(phoneAndTablet) {

  body.menuOpened, html.menuOpened {
    overflow: hidden;
  }

  .menu__opened__overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
}
