.c-main-navigation {
  @include ulClean;

  @include breakpoint(phoneAndTablet) {
    margin-bottom: 50px;
    position: relative;
  }

  @include breakpoint(tabletOnly) {
    margin-bottom: 150px;
  }

  @include breakpoint(desktopOnly) {
    width: 80%;
    text-align: center;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -40%;
    margin-bottom: 0;
  }

  &--wrap {
    @include breakpoint(phoneAndTablet) {
      @include container(260px, 0, 40px 10px 0 10px);
      background: $white;
      position: fixed;
      top: 62px;
      bottom: 0;
      left: -280px;
      z-index: 50;
      overflow: hidden;
      transition: all 0.2s linear;

      &.inView {
        left: 0;
      }
    }

    @include breakpoint(tabletOnly) {
      @include container(350px, 0, 80px 50px 0 50px);
      left: -450px;
    }

    @include breakpoint(desktopOnly) {
      height: 62px;
      position: absolute;
      width: 90%;
      z-index: 110;
      padding: 0 0 0 2%;
      left: 0;
    }
  }

  & a {
    @include breakpoint(phoneAndTablet) {
      text-decoration: none;
      color: $black;
    }
  }

  & > li {
    @include breakpoint(phoneAndTablet) {
      margin-bottom: 20px;
      position: relative;
    }

    @include breakpoint(tabletOnly) {
      margin-bottom: 30px;
    }

    @include breakpoint(desktopOnly) {
      display: inline-block;
      margin-right: 40px;
      z-index: 110;

      &:first-child {
        margin-left: 75px;
      }

      &:nth-child(3) {
        margin-right: 200px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & i {
      @include breakpoint(phoneAndTablet) {
        color: $yellow;
        margin-right: 15px;
        position: relative;
        top: -2px;
        font-size: $fontNormal;
      }

      @include breakpoint(desktopOnly) {
        display: none;
      }
    }
  }

  & > li > a {
    text-transform: uppercase;

    @include breakpoint(phoneOnly) {
      font-weight: 700;
      font-size: $fontMedium;
    }

    @include breakpoint(tabletOnly) {
      font-size: $fontBig;
      font-weight: 700;
    }

    @include breakpoint(desktopOnly) {
      font-weight: 700;
      color: $yellow;
      text-decoration: none;
      font-size: $fontVerySmall;
      transition: color 0.15s linear;
    }

    &.active, &:hover {
      @include breakpoint(desktopOnly) {
        color: $white;
        border-bottom: 2px solid $white;
      }
    }
  }

  & .sub__menu {
    display: none;

    @include breakpoint(desktopOnly) {
      position: fixed;
      top: 62px;
      left: 0;
      right: 0;
      background: $white;
      overflow: hidden;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    & > ul {
      list-style: none;

      @include breakpoint(desktopOnly) {
        @include ulClean;
        display: block;
        position: relative;
        width: 20%;
        float: left;
        padding: 60px 0 40px 5%;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 0.1rem;
          height: 20rem;
          background: #ececec;
        }
      }

      & > li {
        margin-top: 15px;

        @include breakpoint(desktopOnly) {
          text-align: left;
          margin-bottom: 30px;
        }

        & > a {
          font-weight: 400;

          @include breakpoint(tabletOnly) {
            font-size: $fontBig;
          }

          @include breakpoint(desktopOnly) {
            text-decoration: none;
            color: $black;
            font-size: $fontNormal;
          }
        }
      }
    }
  }
}

.page.menuOpened {
  left: 280px;

  @include breakpoint(tabletOnly) {
    left: 450px;
  }
}

@include breakpoint(phoneAndTablet) {

  body.menuOpened, html.menuOpened {
    overflow: hidden;
  }

  .menu__opened__overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
}
