.c-navigation-top-articles {
  @include breakpoint(phoneAndTablet) {
    display: none;
  }

  float: left;
  width: 30%;
  padding: 4vw 10% 0 5.5%;

  & .heading--row {
    font-size: 1.3rem;
    margin-bottom: 0.8vw;
  }

  & .top__article {
    width: 48%;
    margin-right: 4%;
    font-size: 0.7rem;
    text-align: left;
    float: left;

    &:last-child {
      margin-right: 0;
    }

    & img {
      float: left;
      width: 28%;
      margin-right: 10%;
    }

    & p {
      margin: 0;
      float: left;
      width: 56%;
    }
  }
}
