.c-navigation-top-articles {
  @include breakpoint(phoneAndTablet) {
    display: none;
  }

  float: left;
  width: 30%;
  padding: 40px 10% 0 10%;

  & .top__article {
    width: 48%;
    margin-right: 2%;
    font-size: 0.8rem;
    text-align: left;
    float: left;

    &:last-child {
      margin-right: 0;
    }

    & img {
      float: left;
      width: 28%;
      margin-right: 2%;
    }

    & p {
      margin: 0;
      float: left;
      width: 70%;
    }
  }
}
