.c-page-title {
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  @include fontSize(70,36,70);
  @include letterSpacing(0,0,-25);

  @include breakpoint(desktopOnly) {
    width: 48%;
  }
}
