.c-section-title {
  font-size: 1.3rem;

  &.heading--col {
    position: absolute;
    left: 0;
    color: $black;

    @include breakpoint(phoneOnly) {
      margin-top: 10px;
      width: 70px;
    }

    @include breakpoint(tabletOnly) {
      margin-top: -20px;
      width: 120px;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 0;
      width: 120px;
    }

    @include breakpoint(desktopLarge) {
      width: 150px;
    }
  }

  &.heading--row {
    text-align: left;
    width: 100%;
    margin: 20px 0;
  }
}
