.c-search-results-hero {
  width: 100%;
  position: relative;
  margin-bottom: 10.6vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 7.3vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 4.6vw;
  }

  &__heading {
    color: #000000;
    @include fontSize(52,32,32);
    @include lineHeight(48,32,32);
    @include letterSpacing(0,0,0);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 11.5vw 0 9.4vw 0;

    @include breakpoint(tabletOnly) {
      margin: 8vw 0 6vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 3.6vw 0 2.5vw 0;
    }
  }

  &__input {
    width: 100%;
    position: relative;

    & input {
      @include fontSize(42,18,32);
      @include letterSpacing(0,0,0);
      width: calc(100% - 8vw - 4px);
      padding: 8vw 4vw;
      color: $darkGray;
      outline: none;
      border: 2px solid $yellow;

      @include breakpoint(tabletOnly) {
        width: calc(100% - 10vw - 4px);
        padding: 3vw 5vw;
      }

      @include breakpoint(desktopOnly) {
        width: calc(100% - 9.6vw - 4px);
        padding: 3.35vw 4.8vw;
      }
    }

    & a {
      color: $darkGray;
      position: absolute;
      @include fontSize(43,20,40);
      top: 8vw;
      right: 5vw;

      @include breakpoint(tabletOnly) {
        top: 3.4vw;
        right: 4vw;
      }

      @include breakpoint(desktopOnly) {
        top: 3.4vw;
        right: 7vw;
      }
    }
  }
}
