.c-search {
  float: right;
  font-size: $fontBig;
}

.search__overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.search__overlay {
  position: fixed;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.8);
}

.search__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  cursor: pointer;
}

.search__field {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  text-align: center;
}

.search__field input {
  width: 85%;
  background: transparent;
  border: 0;
  color: $white;
  border-bottom: 1px solid $white;
  font-size: $fontBig;
}

.search__field input:focus {
  outline: none;
  border-bottom: 1px solid $white;
}

.search__field i {
  font-size: 1.8rem;
}

@media only screen and (min-width: $break-desk) {

  .c-search {
    position: relative;
    font-size: $fontMedium;
    top: 6px;
  }

  .search__close {
    top: 25px;
    right: 25px;
  }

}
