.c-section-title {

  & .text--bold {
    font-weight: 900;
    @include fontSize(45,20,32);
    // @include lineHeight(48,24.52,48);
    @include letterSpacing(0,0,0);
  }

  & .text--italic {
    font-weight: 400;
    @include fontSize(50,20,30);
    @include letterSpacing(0,0,0);
    line-height: 3.2rem;
    margin-left: 0.4rem;

    @include breakpoint(tabletOnly) {
      line-height: 2.4rem;
      margin-left: 0.2rem;
    }

    @include breakpoint(desktopOnly) {
      margin-left: 0.4rem;
    }
  }

  & .text--regular {
    font-weight: 400;
    @include fontSize(40,20,30);
    // @include lineHeight(48,24.52,48);
    @include letterSpacing(50,50,50);
  }

  &.heading--col {
    position: absolute;
    left: 0;
    color: $black;

    @include breakpoint(phoneOnly) {
      margin-top: 10px;
      width: 70px;
    }

    @include breakpoint(tabletOnly) {
      margin-top: -20px;
      width: 120px;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 0;
      width: 120px;
    }

    @include breakpoint(desktopLarge) {
      width: 150px;
    }
  }

  &.heading--row {
    text-align: left;
    width: 100%;
    margin: 20px 0;
  }
}
