.c-test-start {
  width: 100%;
  margin: 0 0 5.4rem 0;

  @include breakpoint(tabletOnly) {
    margin: 0 0 6vw 0;
  }

  @include breakpoint(desktopOnly) {
    margin: 0 0 3.5vw 0;
  }

  &::after {
    @include breakpoint(desktopOnly) {
      display: block;
      content: "";
      position: relative;
      bottom: 3vw;
      left: 0;
      right: 0;
      height: 1px;
      background: $lightGray;
    }
  }

  & .container--full {
    background: url("../../assets/image/test_start/trucks_background_full.png") no-repeat center;
    filter: brightness(115%);
    box-shadow: inset 0 0 0 1000px rgba(#ffd451, 0.85);

    @include breakpoint(desktopOnly) {
      background-size: 100%;
    }
  }

  &__body {
    margin: 0 auto;

    @include breakpoint(phoneOnly) {
      width: 65%;
      padding: 4vw 0 6vw 0;
    }

    @include breakpoint(tabletOnly) {
      width: 33%;
      margin: 0 0 0 35%;
      padding: 5vw 0 10vw 0;
    }

    @include breakpoint(desktopOnly) {
      width: 25%;
      padding: 5.8vw 0 8.1vw 3vw;
      margin: 0 0 0 35.5%;
    }

    & .btn--centered {
      @include fontSize(18,10,12);
      @include letterSpacing(100,100,100);
      width: 24vw;
      text-align: center;
      padding: 4vw 8vw;

      @include breakpoint(tabletOnly) {
        width: 16vw;
        text-align: center;
        padding: 1.4vw 1.2vw;
        margin: 0 0 0 12%;
      }

      @include breakpoint(desktopOnly) {
        width: 9vw;
        padding: 0.8vw 1.2vw;
        margin: 0;
      }

    }

    & .c-section-title.heading--row {
      margin: 6.8vw 0 6vw 0;

      @include breakpoint(tabletOnly) {
        margin: 0 0 2.2vw 0;
      }

      @include breakpoint(desktopOnly) {
        margin: 0 0 1.3vw 0;
        text-align: left;
      }

      & .text--bold {
        @include fontSize(45.31,22,32);

        @include breakpoint(desktopOnly) {
          line-height: 3.7rem;
        }
      }

      & .text--italic {
        @include fontSize(42.48,22,30);
        margin-left: 0;
        margin-right: 1.6rem;
        line-height: 5rem;

        @include breakpoint(tabletOnly) {
          margin-right: 0.5rem;
          line-height: 3rem;
        }

        @include breakpoint(desktopOnly) {
          line-height: 1rem;
          margin-right: 0.5rem;
        }
      }

      & .text--regular {
        @include fontSize(42.48,22,30);
      }
    }
  }

  &__images {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -5.8vw;

    @include breakpoint(phoneOnly) {
      display: none;
    }

    @include breakpoint(tabletOnly) {
      width: 100%;
    }

    @include breakpoint(desktopOnly) {
      top: -6.3vw;
    }

    & .heading {
      font-weight: 900;
      margin: 0;
      @include fontSize(0,13.63,22);
      @include letterSpacing(0,-25,-25);

      @include breakpoint(desktopOnly) {
        margin-bottom: 0.2vw;
      }
    }

    & .desc {
      margin: 0;

      @include breakpoint(phoneAndTablet) {
        display: none;
      }

      @include breakpoint(desktopOnly) {
        display: block;
        font-size: calcRem(14);
      }
    }
  }

  &__item {
    width: 32.7%;
    display: inline-block;
    text-align: center;

    @include breakpoint(tabletOnly) {
      width: 26.7%;
    }

    &:first-child {
      @include breakpoint(tabletOnly) {
        margin-left: 1.6%;
        width: 26.7%;
      }

      @include breakpoint(desktopOnly) {
        width: 27%;
        margin-left: 1.7%;
      }
    }

    &:nth-child(2) {
      @include breakpoint(tabletOnly) {
        margin-left: 6.6%;
        width: 26%;
      }

      @include breakpoint(desktopOnly) {

      }
    }

    &:last-child {
      @include breakpoint(tabletOnly) {
        margin-left: 8%;
        width: 26.7%;
        position: relative;
        top: -0.2vw;
      }

      @include breakpoint(desktopOnly) {
        position: relative;
        top: 0.6vw;
        margin-left: 7.7%;
      }
    }

    & img {
      width: 100%;
    }
  }

  &__desc {
    @include fontSize(26,0,14);
    @include lineHeight(32,0,18);
    @include letterSpacing(50,0,50);
    margin-bottom: 7.4vw;

    @include breakpoint(tabletOnly) {
      display: none;
    }

    @include breakpoint(desktopOnly) {
      display: block;
      width: 92%;
      margin-bottom: 1.4vw;
    }
  }
}
