.p-all-tags {
  width: 100%;

  & .c-breadcrumbs {
    margin: 0.4vw 0 0 6.3%;
  }

  & .c-page-title {
    margin: 11vw 0 12vw 0;
    line-height: 6.8rem;

    @include breakpoint(tabletOnly) {
      margin: 7vw 0 11.5vw 0;
      line-height: 3.6rem;
    }

    @include breakpoint(desktopOnly) {
      width: 100%;
      margin: 3.5vw 0 5.4vw 0;
      line-height: 7rem;
    }
  }

  & .container {
    @include breakpoint(desktopOnly) {
      width: 90%;
      margin-left: 6.3%;
    }
  }

  & .single-tag {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

    @include breakpoint(phoneOnly) {
      width: 52%;
      margin-left: 4%;
      margin-bottom: 8vw;

      &:nth-child(2n+2) {
        width: 40%;
        margin-left: 2%;
      }

    }

    @include breakpoint(tabletOnly) {
      width: 40%;
      margin-bottom: 4.5vw;

      &:nth-child(3n+3) {
        width: 18%;
        margin-right: 0;
      }

    }

    @include breakpoint(desktopOnly) {
      width: 28%;
      margin-bottom: 3.3vw;

      &:nth-child(3n+3) {
        width: 28%;
      }

      &:nth-child(4n+4) {
        width: 14%;
      }

    }

    &__heading {
      font-family: 'Airways';
      font-size: 6.6rem;
      color: $yellow;
      margin-bottom: 2vw;

      @include breakpoint(tabletOnly) {
        font-size: 4.6rem;
        margin-bottom: 2.1vw;
      }

      @include breakpoint(desktopOnly) {
        font-size: 4.6rem;
        margin-bottom: 1.2vw;
      }
    }

    &__link {
      display: block;
      text-align: left;
      color: $black;
      text-decoration: none;
      margin-bottom: 2.2rem;
      font-size: 2.8rem;
      letter-spacing: 0.05em;

      @include breakpoint(tabletOnly) {
        font-size: 1.75rem;
        margin-bottom: 2.5vw;
      }

      @include breakpoint(desktopOnly) {
        font-size: 1.8rem;
        margin-bottom: 0.45vw;
      }

    }

  }

}
