.vu-QA {
  padding-top: 5vw;
}

.vu-QA .faq__slider {
  border-top: none;
  position: relative;
}

@media only screen and (min-width: $break-tab) and (max-width: $break-desk) {
  .vu-QA .faq__slider {
    width: 68%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
  }

  .vu-QA .faq__slider .container--full {
    height: 18rem;
  }

  .vu-QA .faq__slider .teaser__body {
    margin-top: 20px;
  }

  .vu-QA .faq__slider .slider__container {
    width: 60%;
    float: none;
    margin: 0 0 0 5vw;
  }

  .vu-QA .faq__slider .slider__navigation {
    float: none;
    position: absolute;
    bottom: 3.3vw;
    right: -11vw;
  }

  .vu-QA .faq__slider .section__title {
    position: relative;
    top: -6vw;
    left: 5vw;
  }
}

@media only screen and (min-width: $break-desk) {
  .vu-QA .faq__slider {
    width: calc(70% - 40px);
    padding: 40px 40px 40px 0;
    float: left;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .vu-QA .faq__slider .container--full {
    height: 26rem;
  }

  .vu-QA .faq__slider .teaser__body {
    margin-top: 20px;
    width: 70%;
  }

  .vu-QA .faq__slider .slider__container {
    width: 60%;
    float: none;
    margin: 0 auto;
  }

  .vu-QA .faq__slider .slider__container {
    top: -10vw;
  }

  .vu-QA .slider__container .slider {
    width: 100%;
  }

  .vu-QA .faq__slider .slider__navigation {
    float: none;
    position: absolute;
    top: 27.2vw;
    right: 0;
  }

  .vu-QA .faq__slider .section__title {
    position: relative;
    top: -11vw;
    left: 10vw;
  }
}

@media only screen and (min-width: $break-desk-large) {
  .vu-QA .faq__slider .container--full {
    height: 28rem;
  }

  .vu-QA .faq__slider .slider__navigation {
    top: 27.5vw;
  }
}
