.article-more-QA {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  margin-top: 5vw;

  @include breakpoint(tabletOnly) {
    margin-top: 21.5vw;
    margin-bottom: 2vw;
  }

  @include breakpoint(desktopOnly) {
    margin-top: 10vw;
    margin-bottom: 4.5vw;
    padding-top: 0.5vw;
  }

  &::before, &::after {
    @include breakpoint(tabletOnly) {
      display: block;
      content: "";
      position: relative;
      width: 100%;
      height: 1px;
      background: $lightGray;
      clear: both;
    }
  }

  &::before {
    @include breakpoint(tabletOnly) {
      top: -6vw;
    }

    @include breakpoint(desktopOnly) {
      top: -4vw;
    }
  }

  &::after {
    @include breakpoint(tabletOnly) {
      bottom: 0;
    }

    @include breakpoint(desktopOnly) {
      bottom: -1.5vw;
    }
  }

  & .container {
    @include breakpoint(tabletOnly) {
      float: left;
    }

    &:first-child {
      @include breakpoint(tabletOnly) {
        width: 10%;
      }

      @include breakpoint(desktopOnly) {
        width: 8%;
        margin-left: 3%;
      }
    }

    &:nth-child(2) {
      @include breakpoint(tabletOnly) {
        width: 87.5%;
        margin-left: 2.5%;
      }

      @include breakpoint(desktopOnly) {
        width: 87%;
        margin-left: 2%;
      }
    }
  }

  & .body__wrap {
    position: relative;
    width: 90%;

    @include breakpoint(phoneOnly) {
      margin-left: 3%;
      top: -5vw;
    }
  }

  & .c-section-title {
    margin-bottom: 15vw;

    &.heading--row {
      @include breakpoint(tabletOnly) {
        margin: 0.5vw;
      }

      @include breakpoint(desktopOnly) {
        margin: 0;
      }
    }
  }

  & .teaser {
    overflow: visible;
    background: $lightGray;
    @include breakpoint(phoneOnly) {
      margin-bottom: 9vw;
    }

    @include breakpoint(tabletOnly) {
      margin-bottom: 10vw;
    }

    &:last-child {
      @include breakpoint(tabletAndDesktop) {
        margin-left: 0;
      }
    }

    & .teaser__title {
      margin-bottom: 0;
    }

    & .teaser__img {
      box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.6);
    }

    &.teaser--xl {
      float: none;
      margin-bottom: 10vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 6vw;
        height: 16.6rem;
      }

      @include breakpoint(desktopOnly) {
        width: 71%;
        height: 19.83vw;
        margin-right: 0;
        margin-bottom: 2.5vw;
        float: left;
      }

      & .body__wrap {
        top: -6.5vw;

        @include breakpoint(tabletOnly) {
          width: 80%;
          margin-left: 15%;
          top: -12vw;
        }

        @include breakpoint(desktopOnly) {
          top: -8.5vw;
          width: 86%;
          margin-left: 10%;
        }
      }

      & .teaser__body {
        position: relative;

        @include breakpoint(phoneOnly) {
          width: 40%;
          top: 16vw;
        }

        @include breakpoint(tabletOnly) {
          width: 24%;
          margin-top: 16vw;
        }

        @include breakpoint(desktopOnly) {
          margin-top: 10.5vw;
          width: 28%;
        }
      }

      & .teaser__desc {
        @include breakpoint(desktopOnly) {
          font-size: 0.686rem;
        }
      }

      & .teaser__img {
        margin-right: 4%;
        width: 53%;
        margin-bottom: 3.5vw;

        @include breakpoint(tabletOnly) {
          width: 70%;
          margin-right: 6%;
        }

        @include breakpoint(desktopOnly) {
          width: 68%;
          margin-right: 4%;
        }
      }

      & .teaser__title {
        @include breakpoint(tabletOnly) {
          font-size: 1.16rem;
          line-height: 1.447rem;
        }

        @include breakpoint(desktopOnly) {
          font-size: 1.08rem;
          line-height: 1.471rem;
          margin-bottom: 1vw;
        }
      }
    }

    &.teaser--s {
      @include breakpoint(phoneOnly) {
        width: 100%;
        float: none;
        margin-bottom: 7vw;
      }

      @include breakpoint(tabletOnly) {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 3vw;
        position: relative;
        top: -4vw;
      }

      @include breakpoint(desktopOnly) {
        float: right;
        width: 27%;
        height: 5vw;
        margin-left: 2%;
        margin-bottom: 2.4vw;
        margin-right: 0;
        top: 0;
      }

      &:nth-child(2n+1) {
        @include breakpoint(tabletOnly) {
          margin-right: 0;
        }
      }

      & .body__wrap {
        top: -3.5vw;

        @include breakpoint(tabletOnly) {
          width: 94%;
          margin-left: 6%;
          top: -1vw;
        }

        @include breakpoint(desktopOnly) {
          margin-left: 7%;
          top: -0.8vw;
          width: 93%;
        }
      }

      & .teaser__img {
        width: 36%;
        margin-right: 8%;

        @include breakpoint(tabletOnly) {
          width: 26%;
          margin-right: 6%;
        }

        @include breakpoint(desktopOnly) {
          width: 29%;
        }
      }

      & .teaser__body {
        width: 56%;
        margin-top: 7.5vw;

        @include breakpoint(tabletOnly) {
          width: 65%;
          margin-top: 2vw;
        }

        @include breakpoint(desktopOnly) {
          margin-top: 1.5vw;
          width: 60%;
        }
      }

      & .teaser__title {
        font-weight: 700;
        font-size: 0.82rem;
        line-height: 4.7vw;

        @include breakpoint(tabletOnly) {
          font-size: 1.013rem;
          line-height: 2.35vw;
        }

        @include breakpoint(desktopOnly) {
          font-size: 0.686rem;
          line-height: 0.94119vw;
        }
      }
    }
  }
}
