.w-diaporama-trigger {
  @include article-hero(100%, auto);

  & .article-hero__footnote {
    z-index: 30;
  }

  & .diaporama-trigger__slide {
    position: relative;

    &__overlay {
      @include breakpoint(phoneAndTablet) {
        display: none;
      }

      @include breakpoint(desktopOnly) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $black;
        z-index: 30;
        opacity: 0;
        transition: opacity .2s linear;
      }
    }
  }

  &:hover {
    .diaporama-trigger__navigation > .btn {
      background: $yellow;
    }

    .diaporama-trigger__slide__overlay {
      opacity: 0.3;
    }

    .diaporama-trigger__thumb.slick-current {
      & img {
        filter: grayscale(0);
      }

      & .overlay {
        opacity: 1;
      }
    }

    .diaporama-trigger__thumb img {
     filter: grayscale(100%);
   }
  }

  // & .slick-slider, & .slick-list, & .slick-track {
  //   height: 100%;
  // }

  & .diaporama-trigger__slide img {
    width: 100%;
    z-index: 20;
  }

  & .diaporama-trigger__navigation {
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 24vw;
    z-index: 1000;

    @include breakpoint(tabletOnly) {
      top: 27vw;
    }

    @include breakpoint(desktopOnly) {
      top: 22vw;
    }
  }

  & .diaporama-trigger__prev, & .diaporama-trigger__next, & .diaporama-trigger__navigation .btn {
    position: absolute;
  }

  & .diaporama-trigger__prev, & .diaporama-trigger__next {
    @include circled-icon(8.5vw);
    background: $yellow;
    color: $black;
    top: -2vw;
    font-size: 1.5rem;

    @include breakpoint(tabletOnly) {
      @include circled-icon(4.5vw);
      font-size: 1.3rem;
      top: -1.8vw;
    }

    @include breakpoint(desktopOnly) {
      @include circled-icon(2vw);
      font-size: 1.1rem;
      top: 12vw;
    }
  }

  & .diaporama-trigger__prev {
    left: 1vw;

    @include breakpoint(tabletOnly) {
      left: -1.4vw;
    }

    @include breakpoint(desktopOnly) {
      left: 25.6vw;
    }
  }

  & .diaporama-trigger__next {
    right: 1vw;

    @include breakpoint(tabletOnly) {
      right: -1.4vw;
    }

    @include breakpoint(desktopOnly) {
      right: 21.6vw;
    }
  }

  & .diaporama-trigger__navigation .btn {
    left: 50%;
    margin-left: -14.5vw;
    padding: 3.1vw 7vw;
    top: -2vw;
    @include fontSize(16,16,16);
    @include letterSpacing(100,100,100);

    @include breakpoint(tabletOnly) {
      margin-left: -12.5vw;
      top: -3.6vw;
      padding: 2.8vw 6vw;

    }

    @include breakpoint(desktopOnly) {
      margin-left: -5.5vw;
      padding: 1.2vw 2.6vw;
      top: -3.3vw;
    }

    &:hover {
      @include breakpoint(desktopOnly) {
        color: $black;
      }
    }

  }

  & .diaporama-trigger__thumbs {
    width: 34%;
    position: absolute;
    bottom: 3.7vw;
    left: 52%;
    margin-left: -17%;
    z-index: 1000;

    @include breakpoint(phoneAndTablet) {
      display: none;
    }

    & .diaporama-trigger__thumb {
      position: relative;
      display: inline-block;
      width: 18%;
      height: 100%;
      margin-right: 2.75%;
      cursor: pointer;
      outline: none;

      & .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 0 5px $yellow;
        transition: opacity .1s linear;
      }

      & img {
        width: 100%;
      }

    }

    & .diaporama-trigger__thumb:hover {
      & img {
        filter: grayscale(0);
      }

      & .overlay {
        opacity: 1;
      }
    }
  }
}
