.w-search-trigger {
  float: right;
  font-size: $fontMedium;
  position: relative;
  right: 2.5vw;

  @include breakpoint(tabletOnly) {
    font-size: 2.4rem;
    top: 0;
    right: 1vw;
  }

  @include breakpoint(desktopOnly) {
    font-size: 0.8rem;
    top: 0.6vw;
    right: 0.4vw;
  }
}

.w-search-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.8);

  & .search__close {
    position: absolute;
    top: 2.3vw;
    right: 5.4vw;
    font-size: 1.8rem;
    cursor: pointer;

    @include breakpoint(tabletOnly) {
      top: 2vw;
      right: 4.2vw;
      font-size: 4rem;
    }

    @include breakpoint(desktopOnly) {
      font-size: 3rem;
      top: 1.5vw;
      right: 2.5vw;
    }
  }

  & .search__field {
    position: absolute;
    top: 48.2%;
    left: 50%;
    width: 93%;
    margin-left: -46.5%;
    text-align: center;

    @include breakpoint(tabletOnly) {
      top: 34.4%;
      left: 50%;
      width: 92%;
      margin-left: -46%;
    }

    @include breakpoint(desktopOnly) {
      top: 35%;
      left: 50%;
      width: 74%;
      margin-left: -38%;
    }

    & input {
      width: 85%;
      background: transparent;
      border: 0;
      color: $white;
      border-bottom: 1px solid $white;
      font-size: $fontBig;
      padding-bottom: 3vw;
      position: relative;
      top: -3vw;

      @include breakpoint(tabletOnly) {
        font-size: 2rem;
        padding-bottom: 1vw;
        top: -3vw;
      }

      &:focus {
        outline: none;
        border-bottom: 1px solid $white;
      }
    }

    & i {
      font-size: 1.8rem;
      position: relative;
      top: -3vw;
      left: -1vw;

      @include breakpoint(tabletOnly) {
        font-size: 3rem;
        top: -2.5vw;
        left: 0;
      }

      @include breakpoint(desktopOnly) {
        font-size: 3.3rem;
        top: -2.3vw;
        left: 1.8vw;
      }
    }
  }
}
