.p-TC {
  width: 100%;

  & .c-breadcrumbs {
    margin: 0.4vw 0 0 6.3%;
  }

  & .container {
    @include breakpoint(desktopOnly) {
      width: 87%;
      margin: 0 auto;
    }
  }

  & .c-page-title {
    margin: 11vw 0 12vw 0;
    line-height: 6.8rem;

    @include breakpoint(tabletOnly) {
      margin: 7vw 0 9.2vw 0;
      line-height: 3.6rem;
    }

    @include breakpoint(desktopOnly) {
      width: 100%;
      margin: 3.5vw 0 4.6vw 0;
      line-height: 7rem;
    }
  }
}

.TC-paragraph {
  width: 100%;
  margin-bottom: 10.4vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 5.5vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 2.45vw;
  }

  &__heading {
    font-size: 3.4rem;
    letter-spacing: calcLS(50);
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4vw;

    @include breakpoint(tabletOnly) {
      font-size: 2.4rem;
      margin-bottom: 3.7vw;
    }

    @include breakpoint(desktopOnly) {
      font-size: 2.4rem;
      margin-bottom: 1.4vw;
    }
  }

  &__body {
    font-size: 2.8rem;
    letter-spacing: 0.05em;
    line-height: 4.2rem;
    color: $darkGray;

    @include breakpoint(tabletOnly) {
      font-size: 1.8rem;
      line-height: 2.65rem;
    }

    @include breakpoint(desktopOnly) {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }

    & p {
      margin-bottom: 7vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 3.2vw;
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.55vw;
      }
    }
  }
}
