.p-cgu {
  width: 100%;

  & .c-breadcrumbs {
    margin: 0.2vw 0 0 6%;
  }

  & .container {
    @include breakpoint(desktopOnly) {
      width: 87.5%;
      margin: 0 auto;
    }
  }

  & .c-page-title {
    margin: 13vw 0 14vw 0;

    @include breakpoint(tabletOnly) {
      margin: 7.5vw 0 10.5vw 0;
    }

    @include breakpoint(desktopOnly) {
      width: 100%;
      margin: 4.5vw 0 5.5vw 0;
    }
  }
}

.cgu-paragraph {
  width: 100%;
  margin-bottom: 10vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 5.6vw;
  }

  @include breakpoint(desktopOnly) {
    margin-bottom: 2.6vw;
  }

  &__heading {
    font-size: 1.26rem;
    letter-spacing: 0.05em;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4vw;

    @include breakpoint(tabletOnly) {
      font-size: 1.7rem;
      margin-bottom: 3.2vw;
    }

    @include breakpoint(desktopOnly) {
      font-size: 1.18rem;
      margin-bottom: 1.5vw;
    }
  }

  &__body {
    font-size: 1.038rem;
    letter-spacing: 0.05em;
    line-height: 6.7vw;
    color: $darkGray;

    @include breakpoint(tabletOnly) {
      font-size: 1.285rem;
      line-height: 3.4vw;
    }

    @include breakpoint(desktopOnly) {
      font-size: 0.88rem;
      line-height: 1.56vw;
    }

    & p {
      margin-bottom: 7vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 3.4vw;
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.6vw;
      }
    }
  }
}
