.p-404 {
  width: 100%;
  margin-bottom: 24vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 17vw;
  }

  @include breakpoint(desktopOnly) {
    width: 77%;
    margin-left: 11%;
    margin-bottom: 6.9vw;
  }

  & .container {
    width: 91%;
    margin-left: 5%;

    @include breakpoint(tabletOnly) {
      width: 89%;
      margin-left: 5.5%;
    }

    @include breakpoint(desktopOnly) {
      width: 88%;
      margin-left: 6.5%;
    }
  }

  & .btn {
    width: 59%;
    text-align: center;
    padding: 5vw 0;
    @include fontSize(21.12,12,12);
    @include letterSpacing(50,100,100);

    @include breakpoint(tabletOnly) {
      width: 28%;
      padding: 2.8vw 0;
    }

    @include breakpoint(desktopOnly) {
      width: 17%;
      padding: 1.3vw 0;
    }
  }

  & .c-breadcrumbs {
    margin: 6.5vw 0 0 5.5%;
  }
}

.p-404-notice {
  width: 100%;
  margin-bottom: 20.7vw;
  padding-top: 6vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 13.5vw;
  }

  @include breakpoint(desktopOnly) {
    padding-top: 4vw;
    margin-bottom: 5.2vw;
  }

  &__message {
    position: relative;
    top: 8.3vw;
    @include fontSize(40.44,47.42,80.35);
    letter-spacing: calcLS(-25);
    font-weight: 900;
    color: $yellow;
    margin-bottom: 4.6vw;
    margin-left: 4.8%;
    z-index: -1;
    text-transform: uppercase;

    @include breakpoint(tabletOnly) {
      top: 6.1vw;
      margin-left: 4%;
      margin-bottom: 2.6vw;
    }

    @include breakpoint(desktopOnly) {
      top: 0.7vw;
      margin-left: 4.2%;
      margin-bottom: -2vw;
    }

    & .accented-word {
      position: relative;
      top: 4.2vw;
      left: -1vw;
      @include fontSize(78.54,92.1,156.07);
      font-weight: 900;

      @include breakpoint(tabletOnly) {
        top: 4.2vw;
      }

      @include breakpoint(desktopOnly) {
        top: 3.2vw;
      }
    }
  }

  &__image {
    width: 100%;
    z-index: 10;
  }

}
