.p-404 {
  width: 100%;
  margin-bottom: 24vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 11vw;
  }

  @include breakpoint(desktopOnly) {
    width: 77%;
    margin-left: 11%;
    margin-bottom: 0;
  }

  & .container {
    width: 91%;
    margin-left: 5%;

    @include breakpoint(tabletOnly) {
      width: 89%;
      margin-left: 5.5%;
    }

    @include breakpoint(desktopOnly) {
      width: 88%;
      margin-left: 6.5%;
    }
  }

  & .btn {
    width: 59%;
    text-align: center;
    padding: 5vw 0;

    @include breakpoint(tabletOnly) {
      width: 28%;
      font-size: 0.871rem;
      padding: 2.8vw 0;
    }

    @include breakpoint(desktopOnly) {
      width: 17%;
      font-size: 0.591rem;
      padding: 1.3vw 0;
    }
  }

  & .c-breadcrumbs {
    margin: 6.5vw 0 0 5.5%;
  }
}

.p-404-notice {
  width: 100%;
  margin-bottom: 20.5vw;
  padding-top: 6vw;

  @include breakpoint(tabletOnly) {
    margin-bottom: 13.5vw;
  }

  @include breakpoint(desktopOnly) {
    padding-top: 4vw;
    margin-bottom: 5.4vw;
  }

  &__message {
    position: relative;
    top: 8.3vw;
    font-size: 1.489rem;
    letter-spacing: -0.025em;
    font-weight: 900;
    color: $yellow;
    margin-bottom: 4.6vw;
    margin-left: 5%;
    z-index: -1;
    text-transform: uppercase;

    @include breakpoint(tabletOnly) {
      top: 6.5vw;
      font-size: 3.43rem;
      margin-left: 4%;
      margin-bottom: 2.6vw;
    }

    @include breakpoint(desktopOnly) {
      font-size: 3.922rem;
      top: 0.5vw;
      margin-left: 4%;
      margin-bottom: -2.4vw;
    }

    & .accented-word {
      position: relative;
      top: 4.5vw;
      left: -1vw;
      font-size: 2.921rem;
      font-weight: 900;

      @include breakpoint(tabletOnly) {
        top: 4.2vw;
        font-size: 6.66rem;
      }

      @include breakpoint(desktopOnly) {
        top: 3.2vw;
        font-size: 7.65rem;
      }
    }
  }

  &__image {
    width: 100%;
    z-index: 10;
  }

}
