@import "../mixins";

.module-diaporama-trigger {
  @include article-hero(100%, 48vw);
}

.module-diaporama-trigger .article-hero__footnote {
  z-index: 30;
}

.diaporama-trigger__slide {
  position: relative;
}

.module-diaporama-trigger .slick-slider, .module-diaporama-trigger .slick-list, .module-diaporama-trigger .slick-track {
  height: 100%;
}

.module-diaporama-trigger .diaporama-trigger__slide img {
  width: 100%;
  z-index: 20;
}

.diaporama-trigger__navigation {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 20vw;
  z-index: 30;
}

.diaporama-trigger__prev, .diaporama-trigger__next, .diaporama-trigger__navigation .btn {
  position: absolute;
}

.diaporama-trigger__prev, .diaporama-trigger__next {
  @include circled-icon(35px);
  background: $yellow;
  color: $black;
}

.diaporama-trigger__prev {
  left: 0;
}

.diaporama-trigger__next {
  right: 0;
}

.diaporama-trigger__navigation .btn {
  left: 50%;
  width: 33vw;
  margin-left: -16.5vw;
  padding: 10px 25px;
}
