.p-live-news {
  width: 100%;

  & .c-breadcrumbs {
    margin: 0.4vw 0 0 6.2%;
  }

  & .c-page-title {
    margin-top: 11vw;
    margin-bottom: 12.5vw;

    @include breakpoint(tabletOnly) {
      width: 49%;
      margin-top: 7vw;
      margin-bottom: 5vw;
    }

    @include breakpoint(desktopOnly) {
      width: 48%;
      margin-top: 6.9vw;
      margin-bottom: 4.2vw;
    }
  }

  & .teaser {
    &__img {
      margin-bottom: 3.5vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 2vw;
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.6vw;
      }
    }

    &__title {
      @include breakpoint(desktopOnly) {
        margin-bottom: 1.3vw;
      }
    }
  }

  & .row--mob {
    margin-bottom: 11.5vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 4.2vw;
    }

    @include breakpoint(desktopOnly) {
      margin-bottom: 4.4vw;
    }
  }

  & .row--raised {
    @include breakpoint(tabletOnly) {
      margin-top: -13.2vw;
    }

    @include breakpoint(desktopOnly) {
      margin-top: -12.4vw;
    }
  }

  & .c-pagination {
    @include breakpoint(tabletOnly) {
      margin-top: 3.3vw;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 1.4vw;
    }
  }

  & .c-test-start {
    position: relative;
    margin: 13vw 0 0 0;

    @include breakpoint(tabletOnly) {
      margin: 10.5vw 0 6vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 8.5vw 0 3.4vw 0;
    }

    &::before, &::after {
      @include breakpoint(desktopOnly) {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $lightGray;
      }
    }

    &::before {
      top: -4vw;
    }

    &::after {
      bottom: 2.2vw;
    }
  }
}
