@media only screen and (min-width: $break-tab) and (max-width: $break-desk) {

  .block-more-topics {
    width: 30%;
    float: left;
  }

  .block-more-topics .btn {
    padding: 10px 20px;
    font-size: $fontVerySmall;
    font-weight: bold;
  }

}

@media only screen and (min-width: $break-desk) {

  .block-more-topics {
    position: relative;
    top: 4vw;
    width: calc(30% - 82px);
    padding: 40px 40px 5vw 40px;
    float: left;
    border-left: 2px solid $lightGray;
  }

  .block-more-topics::before, .block-more-topics::after {
    content: "";
    position: absolute;
    right: 0;
    width: 79.2vw;
    height: 2px;
    background: $lightGray;
    z-index: -1;
  }

  .block-more-topics::before {
    top: 0;
  }

  .block-more-topics::after {
    bottom: 0;
  }

}

@media only screen and (min-width: $break-desk-large) {

  .block-more-topics::before, .block-more-topics::after {
    width: 79.4vw;
  }

  .block-more-topics {
    padding-bottom: 7vw;
  }

}
