.b-footer {
  @include container(100%, 11.5vw 0, 0);
  text-align: center;

  &__logo {
    margin: 0 auto;
    width: 30%;
  }

  &__nav {
    @include ulClean;
    margin: 8vw 0;

    & li {
      display: block;
      text-transform: uppercase;
      margin-bottom: 3vw;

      @include breakpoint(tabletAndDesktop) {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
      }

      &:last-child {
        @include breakpoint(tabletAndDesktop) {
          margin-right: 0;
        }
      }

      & a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $fontSmall;
        color: $gray;
      }
    }
  }
}
