.b-footer {
  @include container(92%, 40px 0 0, 20px 4%);
  text-align: center;

  &__logo {
    margin-bottom: 40px;
  }

  &__nav {
    @include ulClean;
    margin-bottom: 60px;

    & li {
      display: block;
      text-transform: uppercase;
      margin-bottom: 15px;

      @include breakpoint(tabletAndDesktop) {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
      }

      &:last-child {
        @include breakpoint(tabletAndDesktop) {
          margin-right: 0;
        }
      }

      & a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $fontNormal;
        color: $gray;
      }
    }
  }
}
