.b-header {
  @include container(92%, 0, 4vw 4%);
  height: 5vw;
  background: $black;
  position: fixed;
  top: 0;
  z-index: 99999999;

  @include breakpoint(tabletOnly) {
    @include container(90%, 0, 3vw 5%);
  }

  @include breakpoint(desktopOnly) {
    width: 96%;
    padding: 15px 2%;
  }

  & i {
    cursor: pointer;
  }

  &__logo {
    width: 37.4vw;
    position: absolute;
    top: 2.6vw;
    left: 50%;
    margin-left: -18.5vw;
    z-index: 120;

    @include breakpoint(tabletOnly) {
      top: 0.6vw;
    }

    & img {
      width: 100%;
    }
  }

  &__social {
    text-align: center;

    @include breakpoint(phoneAndTablet) {
      float: none;
      position: relative;
      font-size: 1.8rem;
      color: $black;
    }

    @include breakpoint(tabletOnly) {
      font-size: 3rem;
    }

    @include breakpoint(desktopOnly) {
      position: relative;
      font-size: $fontMedium;
      top: 6px;
      color: $white;
      float: left;
    }

    & i {
      margin-right: 20px;

      @include breakpoint(tabletOnly) {
        margin-right: 40px;
      }

      @include breakpoint(desktopOnly) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu-trigger {
    float: left;
    font-size: $fontLarge;
    position: relative;
    top: -1vw;
    left: 2.5vw;

    @include breakpoint(tabletOnly){
      font-size: 4rem;
      left: 3vw;
    }

    @include breakpoint(desktopOnly) {
      display: none;
    }
  }

  &__search {
    font-size: $fontBig;
  }
}
