.hp-astuces {
  @include container(100%, 50px 0, 0);

  @include breakpoint(tabletAndDesktop) {
    margin: 10vw 0 0 0;
    border-top: 2px solid $lightGray;
  }

  & .c-section-title.heading--row {
    @include breakpoint(tabletAndDesktop) {
      margin: 4vw 0;
    }
  }

  & .container--raised {
    @include breakpoint(tabletAndDesktop) {
      margin-top: -7.5%;
    }
  }

  & .row--centered {
    @include breakpoint(tabletAndDesktop) {
      top: -7vw;
    }
  }
}
