.hp-main-slider {

  width: 100%;
  position: relative;

  &--wrap {
    width: 100%;
    position: relative;
  }

  &__navigation {

    position: absolute;
    top: 54.7%;
    width: 100%;
    z-index: 20;

    @include breakpoint(desktopOnly) {
      top: 55%;
    }

    &__left, &__right {
      position: absolute;
      top: 0;
      cursor: pointer;
      transition: all .2s linear;

      @include breakpoint(tabletOnly) {
        width: 3.2vw;
        height: 3.2vw;
      }
    }

    &__left {
      background: url("../../assets/image/arrow-left-yellow.png") no-repeat;
      background-size: 100% 100%;
      left: 3vw;

      @include breakpoint(desktopOnly) {
        left: 2.8vw;
      }

      &:hover {
        background: url("../../assets/image/arrow-left-white.png") no-repeat;
        background-size: 100% 100%;
      }
    }

    &__right {
      background: url("../../assets/image/arrow-right-yellow.png") no-repeat;
      background-size: 100% 100%;
      right: 3vw;

      @include breakpoint(desktopOnly) {
        right: 3.3vw;
      }

      &:hover {
        background: url("../../assets/image/arrow-right-white.png") no-repeat;
        background-size: 100% 100%;
      }
    }

    @include breakpoint(phoneOnly) {
      display: none;
    }

  }

  &__counter {
    color: $white;
    @include fontSize(25,12,22);
    font-weight: 700;
    position: absolute;
    bottom: 9vw;
    right: 6vw;
    z-index: 1000;

    @include breakpoint(tabletOnly) {
      bottom: 3.5vw;
      left: 15.5vw;
    }

    @include breakpoint(desktopOnly) {
      left: 15.5vw;
      bottom: 3.9vw;
    }

    & .slider__current {
      color: $yellow;
    }

    & .separator {
      @include breakpoint(tabletAndDesktop) {
        margin: 0 -0.1rem;
      }
    }
  }

  &--wrap.slick-initialized .hp-main-slider__slide {
    display: block;
  }

  &__slide {
    display: none;
    width: 100%;
    position: relative;

    &:first-child {
      display: block;
    }

    & img, & iframe {
      width: 100%;
      height: 100%;
    }

    &.image {

      & .slide-text {
        position: absolute;
        top: 10vw;
        left: 6.2vw;
        width: 73%;

        @include breakpoint(tabletOnly) {
          top: 42.5%;
          left: 15.48vw;
          width: 56%;
        }

        @include breakpoint(desktopOnly) {
          top: 44%;
          left: 15.4vw;
          width: 55%;
        }

        & .btn {
          @include fontSize(12,8,12);
          @include letterSpacing(50,50,50);
          padding: 1.6vw 3vw;
          margin-bottom: 1.8rem;
          font-weight: 700;

          @include breakpoint(tabletOnly) {
            padding: 0.6vw 1.8vw;
            margin-bottom: 0;
          }

          @include breakpoint(desktopOnly) {
            padding: 0.67vw 1.6vw;
            margin-bottom: 0.7vw;
          }
        }

        &__heading {
          color: $yellow;
          @include fontSize(30,16,36);
          @include lineHeight(48.87,37.75,45);
          @include letterSpacing(-25,-25,-25);
          font-weight: 900;
          margin-bottom: -0.2rem;

          @include breakpoint(tabletOnly) {
            margin-bottom: -0.9rem;
          }

          @include breakpoint(desktopOnly) {
            margin-bottom: -0.2vw;
          }
        }

        &__title {
          color: $white;
          font-weight: 900;
          @include fontSize(40,32,70);
          @include lineHeight(42,32,70.78);
          @include letterSpacing(-25,-25,-25);

          @include breakpoint(desktopOnly) {
            margin-bottom: -1vw;
          }
        }

        &__desc {
          color: $white;
          @include fontSize(0,16,32);
          @include lineHeight(0,32.05,70.78);
          @include letterSpacing(0,0,0);
          margin-top: -0.5rem;

          @include breakpoint(phoneOnly) {
            display: none;
          }
        }
      }

    }

    &.video {
      // pointer-events: none;
      & iframe {
        height: 100%;
        z-index: 0;
      }

      & .video__overlay {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        background: transparent;

        & span {
          color: $white;
          position: relative;
          top: 21vw;

          @include breakpoint(tabletAndDesktop) {
            display: none;
          }
        }
      }
    }

  }

}
