.hp-news {
  @include container(100%, 0 0 8vw 0, 0);

  & .c-section-title {
    @include breakpoint(phoneOnly) {
      margin-top: 5%;
      width: 20vw;
    }
  }

  & .row--padded--top {
    @include breakpoint(tabletAndDesktop) {
      padding-top: 13%;
    }
  }

  @include breakpoint(desktopOnly) {
    margin: 2vw 0 7vw 0;
  }
}
