.hp-business {
  @include container(100%, 43vw 0 0 0, 0);

  @include breakpoint(tabletAndDesktop) {
    border-top: 2px solid $lightGray;
    position: relative;
  }

  &::after {
    @include breakpoint(tabletOnly) {
      display: block;
      content: "";
      position: absolute;
      bottom: 1.5vw;
      right: 0;
      left: 0;
      height: 2px;
      background: $lightGray;
      z-index: -1;

      @include breakpoint(desktopOnly) {
        top: 4.5vw;
      }
    }

  }

  & .c-section-title.heading--row {
    margin: 7.2vw 0;
    font-size: 1.7rem;
  }

  & .row--mob {
    margin-bottom: 2vw;
  }

  & .row--mob:first-child {
    margin-bottom: 10vw;
  }

  & .row--mob:last-child {
    // margin-left: 1%;
  }
}
