.hp-fan {
  @include container(100%, 50px 0, 0);

  &__container {
    width: 90%;
    margin: 0 auto;
    position: relative;

    &.container--raised {
      margin-top: -3.5%;
    }

    & .teaser:nth-child(2n+0) {
      @include breakpoint(phoneOnly) {
        margin-right: 0;
        margin-left: 1%;
      }
    }
  }

  & .teaser--m {
    @include breakpoint(tabletAndDesktop) {
      width: 23%;
      float: right;
      margin-left: 2%;
      margin-right: 0;
    }
  }

  & .teaser--fan {
    box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.3);

    & .teaser__img {
      margin-bottom: -5px;

      @include breakpoint(phoneOnly) {
        width: 100%;
        float: none;
      }

      @include breakpoint(tabletAndDesktop) {
        width: 66.66665%;
        float: left;
      }
    }

    & .teaser__body {
      background: $white;

      @include breakpoint(phoneOnly) {
        float: none;
        width: 80%;
        padding: 20px 10%;
      }

      @include breakpoint(tabletAndDesktop) {
        float: left;
        width: 17.33332%;
        padding: 10px 8% 20em 8%;
        margin-bottom: -20em;
      }

      @include breakpoint(desktopOnly) {
        padding: 40px 8% 20em 8%;
      }
    }
  }
}
