.hp-news {
  @include container(100%, 0 0 8vw 0, 0);

  @include breakpoint(tabletOnly) {
    margin: 0 0 4vw 0;
  }

  @include breakpoint(desktopOnly) {
    margin: 2vw 0 12.6rem 0;
  }

  & .c-section-title {
    margin-top: 4.6%;
    width: 14rem;

    @include breakpoint(tabletOnly) {
      margin-top: -2rem;
      width: 12rem;
    }

    @include breakpoint(desktopOnly) {
      margin-top: -0.4rem;
      width: 20rem;
    }
  }

  & .row--mob {
    margin-bottom: 7.6rem;

    @include breakpoint(tabletOnly) {
      width: 55.5%;
      margin-right: 1.8%;
      margin-bottom: 4vw;
    }

    @include breakpoint(desktopOnly) {
      width: 49.1%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .row--padded--top {
    @include breakpoint(tabletOnly) {
      padding-top: 13.2%;
    }

    @include breakpoint(desktopOnly) {
      padding-top: 12.2%;
    }
  }

  & .row--clipped--right {
    @include breakpoint(tabletOnly) {
      width: 42.7%;
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint(desktopOnly) {
      width: 42.768%;
    }
  }

  @include breakpoint(desktopOnly) {
    margin: 2vw 0 7vw 0;
  }

  & .heading--fix {
    margin-top: 29.4vw;

    @include breakpoint(tabletOnly) {
      margin-top: 5.5rem;
    }

    @include breakpoint(desktopOnly) {
      margin-top: 22.6rem;
    }
  }

  & .teaser {
    overflow: visible;
  }

  & .teaser--s {
    width: 35.7145%;
    margin-right: 2.8%;

    @include breakpoint(tabletOnly) {
      width: 42.533%;
      margin-right: 3%;
    }

    @include breakpoint(desktopOnly) {
      width: 35.264%;
      margin-right: 3.7%;
    }
  }

  & .teaser--l {
    margin-left: 0;
    width: 61.25%;

    @include breakpoint(tabletOnly) {
      width: 54.4%;
    }

    @include breakpoint(desktopOnly) {
      width: 61.034%;
    }
  }

  & .teaser--xl {
    margin-bottom: 15.5vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 2.7rem;
    }

    @include breakpoint(desktopOnly) {
      margin-bottom: 8rem;
    }

    &:last-child {
      margin-bottom: 5vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 0;
      }
    }

    & .teaser__img {
      @include breakpoint(tabletOnly) {
        margin-bottom: 1.4vw;
      }
    }
  }

  & .teaser--landscape .teaser__img {
    width: 48.93%;
    margin-right: 2.5%;

    @include breakpoint(tabletOnly) {
      width: 55.645%;
      margin-right: 3.9%;
    }
  }

  & .teaser--landscape .teaser__body {
    width: 48.5%;
    margin-top: -0.6rem;

    @include breakpoint(tabletOnly) {
      width: 40%;
      margin-left: 0;
    }
  }

  & .btn {
    padding: 3vw 4vw;
    font-weight: 400;
    @include fontSize(15,10.8,12);
    @include letterSpacing(100,100,100);

    @include breakpoint(tabletOnly) {
      padding: 2.4vw 2.7vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 1.1vw 1.5vw;
    }
  }

  & .btn--centered {
    margin: 3vw auto;

    @include breakpoint(desktopOnly) {
      margin: 2.4vw auto;
    }
  }
}
