.hp-business {
  @include container(100%, 43vw 0 0 0, 0);

  @include breakpoint(tabletOnly) {
    position: relative;
    margin: 4.7vw 0 0 0;
  }

  &::after {
    @include breakpoint(tabletOnly) {
      display: block;
      content: "";
      position: absolute;
      bottom: 1.5vw;
      right: 0;
      left: 0;
      height: 2px;
      background: $lightGray;
      z-index: -1;

      @include breakpoint(desktopOnly) {
        top: 4.5vw;
      }
    }

  }

  & .c-section-title.heading--row {
    margin: 7.2vw 0;
    font-size: 1.7rem;

    @include breakpoint(tabletOnly) {
      margin: 0 0 14vw 0;
      font-size: 1.45rem;
      position: relative;
      top: 10vw;
      line-height: 2.3vw;
    }
  }

  & .row--mob {
    margin-bottom: 2vw;
  }

  & .row--mob:first-child {
    margin-bottom: 10vw;

    @include breakpoint(tabletOnly) {
      margin-bottom: 2vw;
    }
  }

  & .row--mob:last-child {
    // margin-left: 1%;
  }

  & .container--raised--tab {
    @include breakpoint(tabletOnly) {
      margin-top: -9%;
      margin-bottom: 12%;
    }
  }

  & .teaser--raised--tab {
    @include breakpoint(tabletOnly) {
      margin-top: -6vw;
    }
  }
}
