.article-body {
  width: 100%;
  margin-bottom: 5vw;

  @include breakpoint(tabletOnly) {
    width: 87.192%;
    margin: 0 auto 4.6vw auto;
  }

  @include breakpoint(desktopOnly) {
    width: 93.8%;
    margin: 0 0 6.5vw 6.2%;
  }

  &__main-title {
    text-transform: uppercase;
    margin-top: 3vw;
    margin-bottom: 6vw;
    font-weight: 900;
    @include fontSize(40,32,54);
    @include lineHeight(42,32,55);
    @include letterSpacing(0,-25,0);

    @include breakpoint(tabletOnly) {
      margin-top: 1.9vw;
      margin-bottom: 6vw;
    }

    @include breakpoint(desktopOnly) {
      width: 76%;
      margin-top: 1.6vw;
      margin-bottom: 5.3vw;
    }
  }

  &__category {
    display: inline-block;
    padding: 1.8vw 2.2vw;
    @include fontSize(13.32,8,13);
    @include letterSpacing(50,50,50);
    font-weight: 700;
    text-transform: uppercase;
    background: #ffcc33;
    margin-top: 1vw;

    @include breakpoint(tabletOnly) {
      padding: 1.3vw;
      margin-top: 3vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 0.7vw 1.3vw;
      margin-top: 0.5vw;
    }
  }

  &__date {
    color: $darkGray;
    margin: 1vw 0 3vw 0;
    @include fontSize(24,12,10);
    @include letterSpacing(50,50,50);

    @include breakpoint(tabletOnly) {
      margin: 0.5vw 0 1.5vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 0.3vw 0 0.6vw 0;
    }
  }

  &__article-text {
    & p {
      @include fontSize(28,16,16);
      @include lineHeight(42,22,22);
      @include letterSpacing(50,50,50);
      margin-bottom: 6.5vw;

      @include breakpoint(tabletOnly) {
        margin-bottom: 2.9vw;
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.3vw;
      }
    }

    & .article-body__text-intro {
      font-weight: 900;
      margin-bottom: 9.5vw;
      @include fontSize(28,18,18);
      @include lineHeight(42,26,26);
      @include letterSpacing(50,50,50);

      @include breakpoint(tabletOnly) {
        margin-bottom: 4.8vw;
      }

      @include breakpoint(desktopOnly) {
        margin-bottom: 1.5vw;
      }
    }

    & a {
      color: $yellow;
      padding-bottom: 2px;
      border-bottom: 1px solid #ffcc33;
    }
  }

  &__tags {
    color: $yellow;
    margin: 8vw 0 16vw 0;
    @include fontSize(28,16,12);
    @include letterSpacing(50,50,50);

    @include breakpoint(tabletOnly) {
      margin: 8vw 0 5vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 2vw 0;
    }
  }

  &__main-content {
    letter-spacing: 0.2vw;
    @include breakpoint(desktopOnly) {
      float: left;
      width: 56.5%;
      margin-right: 8.9%;
    }
  }

  & .c-test-start {
    margin: 0 0 2vw 0;

    @include breakpoint(desktopOnly) {
      float: left;
      width: 34.5%;
      margin-top: 2vw;
    }

    & .container--full {
      width: 115%;
      left: -7.5%;

      @include breakpoint(desktopOnly) {
        background-size: auto 100%;
        background-position: 20% 0%;
        width: 100%;
        left: 0;
      }
    }

    &__body {
      @include breakpoint(desktopOnly) {
        width: 73%;
        padding: 9.3vw 0 7.6vw 0;
        margin: 0 0 0 19%;
      }

      & .c-section-title.heading--row {
        @include breakpoint(desktopOnly) {
          letter-spacing: 0.05vw;
        }
      }
    }

    // &__item {
    //   & img {
    //     @include breakpoint(desktopOnly) {
    //       width: 100%;
    //     }
    //   }
    // }

    &__images {
      @include breakpoint(desktopOnly) {
        width: 100%;
        top: -1.8vw;
      }

      & .c-test-start__item {
        @include breakpoint(desktopOnly) {
          width: 32.2%;
          margin-left: 0;

          &:last-child {
            top: 0;
          }
        }

        & p {
          @include breakpoint(desktopOnly) {
            font-size: $fontVerySmall;
          }
        }

      }
    }

    &::after {
      display: none;
    }
  }

  &__body {
    @include breakpoint(desktopOnly) {
      position: relative;
      padding-left: 7%;
    }

    & .c-social-share {
      @include breakpoint(desktopOnly) {
        position: absolute;
        top: 0;
        left: -3.4vw;
        margin: 0;
      }
    }
  }

}
