.article-body {
  width: 100%;
  margin-bottom: 5vw;

  @include breakpoint(tabletOnly) {
    width: 87.2%;
    margin: 0 auto 4.6vw auto;
  }

  @include breakpoint(desktopOnly) {
    width: 93.8%;
    margin: 0 0 6.5vw 6.2%;
  }

  &__main-title {
    text-transform: uppercase;
    font-size: 1.458rem;
    margin-top: 3.7vw;
    margin-bottom: 6vw;
    font-weight: 900;
    line-height: 6.5vw;

    @include breakpoint(tabletOnly) {
      font-size: 2.18rem;
      margin-top: 1.9vw;
      margin-bottom: 5vw;
      line-height: 4.4vw;
    }

    @include breakpoint(desktopOnly) {
      width: 76%;
      font-size: 2.59rem;
      margin-top: 1.6vw;
      margin-bottom: 5.3vw;
      line-height: 3.27vw;
    }
  }

  &__category {
    display: inline-block;
    padding: 1.6vw 2.1vw;
    font-size: 0.53rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #ffcc33;
    margin-top: 1vw;

    @include breakpoint(tabletOnly) {
      padding: 1.2vw 1.5vw;
      font-size: 0.6rem;
      margin-top: 3vw;
    }

    @include breakpoint(desktopOnly) {
      padding: 0.6vw 1.4vw;
      font-size: 0.67rem;
      margin-top: 0.7vw;
    }
  }

  &__date {
    color: $darkGray;
    font-size: 0.88rem;
    letter-spacing: 0.2vw;
    margin: 1vw 0 4vw 0;

    @include breakpoint(tabletOnly) {
      font-size: 0.8rem;
      letter-spacing: 0.13vw;
      margin: 1vw 0 1.2vw 0;
    }

    @include breakpoint(desktopOnly) {
      font-size: 0.5rem;
      letter-spacing: 0.023vw;
      margin: 0.45vw 0 0.7vw 0;
    }
  }

  &__article-text {
    & p {
      font-size: 1.04rem;
      line-height: 6.65vw;
      letter-spacing: 0.215vw;
      margin-bottom: 6.5vw;

      @include breakpoint(tabletOnly) {
        font-size: 1.092rem;
        line-height: 2.9vw;
        letter-spacing: 0.147vw;
        margin-bottom: 2.9vw;
      }

      @include breakpoint(desktopOnly) {
        font-size: 0.8rem;
        line-height: 1.32vw;
        letter-spacing: 0.023vw;
        margin-bottom: 1.3vw;
      }
    }

    & .article-body__text-intro {
      font-weight: bold;
      font-size: 1.08rem;
      line-height: 6.6vw;
      margin-bottom: 9vw;
      letter-spacing: 0.2vw;

      @include breakpoint(tabletOnly) {
        font-size: 1.3rem;
        line-height: 3.45vw;
        margin-bottom: 5vw;
        letter-spacing: 0.147vw;
      }

      @include breakpoint(desktopOnly) {
        font-size: 0.955rem;
        line-height: 1.55vw;
        margin-bottom: 1.4vw;
        letter-spacing: 0.023vw;
      }
    }

    & a {
      color: $yellow;
    }
  }

  &__tags {
    color: $yellow;
    margin: 8vw 0 16vw 0;
    font-size: 1rem;
    letter-spacing: 0.23vw;

    @include breakpoint(tabletOnly) {
      margin: 8vw 0 5vw 0;
    }

    @include breakpoint(desktopOnly) {
      margin: 2vw 0;
      font-size: 0.6rem;
      letter-spacing: 0.023vw;
    }
  }

  &__main-content {
    letter-spacing: 0.2vw;
    @include breakpoint(desktopOnly) {
      float: left;
      width: 56.5%;
      margin-right: 8.9%;
    }
  }

  & .c-test-start {
    margin: 0 0 2vw 0;

    @include breakpoint(desktopOnly) {
      float: left;
      width: 34.5%;
      margin-top: 2vw;
    }

    & .container--full {
      width: 115%;
      left: -8%;

      @include breakpoint(desktopOnly) {
        background-size: auto 100%;
        background-position: 20% 0%;
        width: 100%;
        left: 0;
      }
    }

    &__body {
      @include breakpoint(desktopOnly) {
        width: 73%;
        padding: 9.3vw 0 7.6vw 0;
        margin: 0 0 0 19%;
      }

      & .c-section-title.heading--row {
        @include breakpoint(desktopOnly) {
          letter-spacing: 0.05vw;
        }
      }
    }

    // &__item {
    //   & img {
    //     @include breakpoint(desktopOnly) {
    //       width: 100%;
    //     }
    //   }
    // }

    &__images {
      @include breakpoint(desktopOnly) {
        width: 100%;
        top: -1.8vw;
      }

      & .c-test-start__item {
        @include breakpoint(desktopOnly) {
          width: 32.2%;
          margin-left: 0;

          &:last-child {
            top: 0;
          }
        }

        & p {
          @include breakpoint(desktopOnly) {
            font-size: $fontVerySmall;
          }
        }

      }
    }

    &::after {
      display: none;
    }
  }

  &__body {
    @include breakpoint(desktopOnly) {
      position: relative;
      padding-left: 7%;
    }

    & .c-social-share {
      @include breakpoint(desktopOnly) {
        position: absolute;
        top: 0;
        left: -3.4vw;
        margin: 0;
      }
    }
  }

}
