.article-hero {
  @include article-hero(100%, 48vw);
}

.article-hero img {
  width: 100%;
}

.article-hero__footnote {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: $white;
  font-size: $fontNormal;
}

@media only screen and (min-width: $break-mob) and (max-width: $break-tab) {

  .article-hero {
    height: auto;
  }

}

@media only screen and (min-width: $break-tab) {

  .article-hero__footnote {
    padding: 10px;
  }

}
