.article-articles-list {
  margin-bottom: 10vw;

  & .heading--fix {
    margin-top: 59.9%;

    @include breakpoint(tabletAndDesktop) {
      margin-top: 24%;
    }
  }

  & .heading--col {
    margin-top: 25%;

    @include breakpoint(tabletAndDesktop) {
      margin-top: 5%;
    }
  }

  & .row--clipped--right {
    @include breakpoint(tabletAndDesktop) {
      margin-bottom: 2vw;
    }
  }

  & .teaser--s, & .teaser--l {
    @include breakpoint(tabletAndDesktop) {
      width: 48%;
      margin-bottom: 10px;
    }
  }
}
